.progress{
  width: 90%;
}
.progress button .btn  {
  font-size:5px;
  padding: 6px 6px;
  height: 20px;
}

/*.display h4{*/
  /*text-indent:0px;*/
/*}*/

.btn .btn-primary{
  padding: 5px;
  margin:20px;
}

.mainpic img {
  /* height: 600px;*/
  margin-top: 3%;
  margin-left: 5%;
}




 .sideBar .well {
  padding: 5px 10px;

}

.sideBar{
  background-color: #f1f2f2;
  border: 1px solid greenyellow ;
  border-radius: 4px 4px 0 0;
}

