#ProgressSaveBar {
    height: 30px;

}



#ProgressSaveBar > .progress {
    height: inherit;
    width: 90%;
    border-radius: 0px;
    margin: 0px;
    display:inline-block;

}

#ProgressSaveBar > .btn {
    width: 10%;
    max-height: 30px;
    height: 30px;
    font-size:10px;
    padding: 1px;
    float: right;
    font-size: 14px;
}

#ProgressSec  #pSec {
  margin-left: -18px;
  position: relative;
  left: -5px;

}



.btn .btn-primary{
  padding: 5px;
  margin:20px;
}

#SaveButton {
    width:10%;
    height: 3%;
    background-color:#000;
    border-color: #000;
    border-radius: 0px;
    text-align: center;
    padding-bottom:2%;
    /*padding-top: 1%;*/


}

.mainpic img {
  /* height: 600px;*/
  margin-top: 3%;
  margin-left: 5%;
}

.nav-tabs.nav-justified >li.active {
  background-color:#f1f2f2;
  margin-right: 10px;
  line-height: 1.42857143;
  /*border: 1px solid transparent;*/
  border-radius: 8px 8px 0 0;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}




 .sideBar .well {
  padding: 5px 10px;

}

.sideBar{
  background-color: #f1f2f2;
  border: 1px solid greenyellow ;
  border-radius: 4px 4px 0 0;
}



