/*About Us page CSS*/

#background{
    position: absolute;
    background: -webkit-linear-gradient(top, rgba(150,197,255,0.5), rgba(255,255,255,1));
    background: linear-gradient(to bottom, rgba(150,197,255,0.5), rgba(255,255,255,1));
    margin:0;
    padding:0;
    height: 50vh;
    width: 100%;
    z-index:-1;
}

#wrapper{
  position: relative;
}

#main{
  width: 80%;
  max-width: 1200px;
  min-width: 800px;
  margin: 25px auto 0;
}

#tabMenu {
  position: fixed;
  width: 25%;
  max-width: 265px;
  min-width: 200px;    
  display: inline-block;
  text-align: end;
  float: left;

}

#tabMenu section>p {
  font-size: 1.5em;
  font-weight: 500;
  font-style: italic;
  color: #4F9DFF;
  border-bottom: 2px solid #939597;
  padding: 26px 0;
  margin: 0;
  cursor: pointer;
}

#tabMenu section>p:hover,
#tabMenu .highlight
{
  color: #f2bc19;
}

#tabMenu div {
  padding-top: 25px;

}

#mainContent {
  padding-top: 26px;
  display: inline-block;
  width: 65%;
  float: right;
}

#mainContent p {
  font-weight: 400;
  margin-bottom: 20px;
  font-size: 1.2em;
  line-height: 1.4;
}

#mainContent img {
  margin-bottom: 20px;
  max-width: 600px;
}

#customize-pic{
  background-image: url('images/about_page/customize2.jpg');
  max-width: 700px;    
}
#customize-pic:hover {
  background-image: url('images/about_page/customize1.jpg');
}

#wrapper button{
  height: auto;
  font-size: 1.2em;
  background-color: transparent;
  padding: 10px 20px 10px 20px;
  text-align: center;
}

#firstButton{
  margin: 20px 20px 20px 20px;
}

#wrapper button:hover{
  background-color: #4F9DFF;
  color: white;
}

/*#siteCredit {*/
  /*position: relative;*/
  /*bottom: 5px;*/
  /*left: 5px;*/
  /*font-size: 0.75em; */
  /*padding-top: 20px;*/
  /*padding-bottom: 40px;*/
/*}*/
