.admin-wrapper {
	max-width: 400px;
	min-height: 575px;
	margin: 50px auto 0;
	padding: 25px;
	border: 1px solid;
	text-align: center;
}
.admin-wrapper .header-text {
	color: #4F9DFF;
}

.admin-wrapper p {
	margin-top: 10px
}

.admin-wrapper .errMsg {
	color: red;
}

.admin-wrapper .sucMsg {
	color: green;
}

.admin-input {
	width: 300px;
	margin: 0 auto;
}

.admin-button {
	margin-top: 20px;
}

.admin-wrapper .multi {
	margin-top: 10px;
}

.admin-wrapper .multi p {
	display: inline;
    width: 80%;
    float: left;
    text-align: right;
}

#multiCheckox {
    margin-top: 25px;
}

.button-box{
    clear: both;
}

#percentBox {
  width: 90%;
}

.note {
  color: #888888 ;
}

