/***************************
 ***************************
 * Styles for Compare Page *
 ***************************
 ***************************/

/*************************
 ******Shared Styles******
 *************************/

/********************
 **Background Style**
 ********************/

.background {
	background: #EAEAEA;
	height: 100%;
}

/**************
*Header Styles*
**************/
.header {
	width: 100%;
	padding: 50px;
	padding-left: 80px;
	padding-right: 80px;
	margin-bottom: 20px;
}

.header-title {
	display:inline-block;
	margin-top: 0px;
	float: left;
	font-family: narrow-font;
}

.no-wheelchairs-text {
  width: 500px;
  padding: 10px;
  margin: auto;
  font-size: 1.5em;
}

.add-wheelchair-button {
	display:inline-block;
	font-family: narrow-font;
	float: right;
	background-color: #4896FF;
	color: white;
	margin-left: 0px;
	border: 1px solid #4896FF;
	border-radius: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}

.add-wheelchair-button:hover {
	background-color: white;
	color: #4896FF;
	margin-left: 0px;
	border: 1px solid #4896FF;
}


/****************************
**Chair Canvas List Styles***
****************************/

.chair-canvas-list-holder {
	width: 100%;
	padding: 10px;
	text-align: center;
	display: inline-block;
	margin: 100px auto;
}

.chair-canvas-list {
	list-style-type: none;
	margin: 0;
	padding: 0px;
	width: 100%;
	display: table;
  	table-layout: fixed;
}

.chair-canvas-item {
	text-align: center;
	margin: auto;
	display: table-cell;
	width: auto;
}

.compare-check-box-holder {
	background-color: #4896FF;
	color: white;
	margin: 5px auto 0;
	border: 1px solid #4896FF;
	border-radius: 0;
    width: 150px;
    cursor: pointer;
}

.compare-check-box-holder:hover {
	background-color: white;
	color: #4896FF;
	border: 1px solid #4896FF;
}

.comare-button-text {
	padding: 3px;
	margin: 0px;
	display:inline-block;
	font-family: narrow-font;
}

.compare-button-check-text {
	text-align: center;
	width: 17px;
	height: 17px;
	margin-top: 2px;
	padding: 1px 3px 1px;
}
.compare-button-checked-text {
	background: white;
	color: #4896FF;
}

.compare-button-unchecked-text {
	background: #4896FF;
	color: white;
}

/*******************************
 *****Part Comparison Table*****
 *******************************/

.compare-list-holder {
	width: 100%;
	padding: 10px;
	display: inline-block;
	margin: auto;
}

.compare-list {
	width: 100%;
	padding: 0px;
}

.compare-list-item {
	width: 100%;
	list-style-type: none;
}

.compare-list-item-header {
	width: 90%;
	padding: 10px;
	margin: 0 auto 5px;
	background: white;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	color: #939597;
}

.option-comparison-list {
	list-style-type: none;
	width: 100%;
	display: table;
  	table-layout: fixed;
  	padding: 0px;
  	margin-top: 20px;
  	margin-bottom: 20px;
}

.option-comparison-list-item {
	text-align: center;
	margin: auto;
	display: table-cell;
	width: auto;
	font-size: 20px;
}

.option-comparison-list-item-text {
/*	display:inline-block;
	float: left;*/
}

.option-comparison-list-item-color-box {
	width: 20px;
	height: 20px;
	margin: auto;
	box-shadow: 4px 4px 4px grey;
}

.option-comparison-list-seperator {
	border-right: thick #939597;
}
