/***************************
 ***************************
 * Styles for Compare Page *
 ***************************
 ***************************/

/*************************
 ******Shared Styles******
 *************************/

/********************
 **Background Style**
 ********************/

.background {
	background: #F0F0F0;
	height: 100%;
}

/**************
*Header Styles*
**************/
.header {
	width: 100%;
	padding: 50px;
	padding-left: 80px;
	padding-right: 80px;
	margin-bottom: 20px;
}

.header-title {
	display:inline-block;
	margin-top: 0px;
	float: left;
}

.no-wheelchairs-text {
	padding: 10px;
	margin: auto;
}

.add-wheelchair-button {
	display:inline-block;
	float: right;
	background-color: #4896FF;
	color: white;
	margin-left: 0px;
	border: 1px solid #4896FF;
	border-radius: 0;
    padding-top: 6px;
    padding-bottom: 6px;
}

.add-wheelchair-button:hover {
	background-color: white;
	color: #4896FF;
	margin-left: 0px;
	border: 1px solid #4896FF;
};


/****************************
**Chair Canvas List Styles***
****************************/

.chair-canvas-list-holder {
	width: 100%;
	padding: 10px;
	text-align: center;
	display: inline-block;
	margin: 100px;
	margin-left: 150px;
	margin-right: 150px;
}

.chair-canvas-list {
	list-style-type: none;
	margin: 0;
	padding: 0px;
	width: 100%;
	display: table;
  	table-layout: fixed;
}

.chair-canvas-item {
	text-align: center;
	margin: auto;
	display: table-cell;
	width: auto;
}

.compare-check-box-holder {
	background-color: #4896FF;
	color: white;
	margin: auto;
	border: 1px solid #4896FF;
	border-radius: 0;
	margin-top: 5px;
    width: 150px;
    cursor: pointer;
}

.compare-check-box-holder:hover {
	background-color: white;
	color: #4896FF;
	border: 1px solid #4896FF;
}

.comare-button-text {
	padding: 3px;
	margin: 0px;
	display:inline-block;
}

.compare-button-check-text {
	text-align: center;
	width: 17px;
	height: 17px;
	margin-top: 2px;
	padding: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.compare-button-checked-text {
	background: white;
	color: #4896FF;
}

.compare-button-unchecked-text {
	background: #4896FF;
	color: white;
}

/*******************************
 *****Part Comparison Table*****
 *******************************/

.compare-list-holder {
	width: 100%;
	padding: 10px;
	display: inline-block;
	margin: auto;
}

.compare-list {
	width: 100%;
	padding: 0px;
}

.compare-list-item {
	width: 100%;
	list-style-type: none;
}

.compare-list-item-header {
	width: 90%;
	padding: 10px;
	margin: auto;
	margin-bottom: 5px;
	background: white;
	text-align: center;
	font-size: 25px;
	font-weight: 500;
	color: #808184;
}

.option-comparison-list {
	list-style-type: none;
	width: 100%;
	display: table;
  	table-layout: fixed;
  	padding: 0px;
  	margin-top: 20px;
  	margin-bottom: 20px;
}

.option-comparison-list-item {
	text-align: center;
	margin: auto;
	display: table-cell;
	width: auto;
	font-size: 20px;
}

.option-comparison-list-item-text {
/*	display:inline-block;
	float: left;*/
}

.option-comparison-list-seperator {
	border-right: thick #808184;
}