.discount-wrapper {
	max-width: 400px;
	min-height: 575px;
	margin: 50px auto 0;
	padding: 25px;
	border: 1px solid;
	text-align: center;
}
.discount-wrapper .header-text {
	color: #4F9DFF;
}

.discount-wrapper p {
	margin-top: 10px
}

.discount-wrapper .errMsg {
	color: red;
}

.discount-wrapper .sucMsg {
	color: green;
}

.discount-input {
	width: 300px;
	margin: 0 auto;
}

.discount-button {
	margin-top: 20px;
}

.discount-wrapper .multi {
	margin-top: 10px;
}

.discount-wrapper .multi p {
	display: inline;
    width: 80%;
    float: left;
    text-align: right;
}

#multiCheckox {
    margin-top: 25px;
}

.button-box{
    clear: both;
}

#percentBox {
  width: 90%;
}

.note {
  color: #888888 ;
}

.discount-cover {
  position: absolute;
  width: 100vw;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
  text-align: center;
  font-family: 'Gotham A', 'Gotham B';
  font-weight: 500;
  font-style: normal;
}

.action-panel {
  margin: auto;
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 350px);
  width: 700px;
  background-color: white;
  z-index: 3;
  height: 168px;
}

.action-panel button {
	background-color: #4f9dff;
	color: white;
	border: 0;
	font-size: 0.9em;
	height: 30px;
	padding: 5px 12px;
	margin-top: 20px;
}

.close-tab {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
}