

.wrapper{
  margin: 0 auto;
  width: 100%;
}



.frame-header-row {
  min-height:80px;
  margin-bottom: 30px;
  line-height: 0;
  margin-left: 5%;
  margin-right: 5%;
}

.frame-header {
  border-bottom: 1px solid black;
  bottom: -60px;
  font-size: 30px;
  height: 15px;
  position: relative;
  clear: left;
  padding-bottom: 3%;
  font-family: "Oswald" , sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;
  margin-top: 2%;
}

/******main display part*****/

.wrapper .mainDisplay{
  width: 1000px;
  margin: 80px auto 0px;
}

.frame-item {
  padding: 10px 30px 10px;
  min-height: 300px;
  line-height: 1;
  display: inline-block;
  width: 500px;
  margin-bottom: 40px;
}

.frame-item.right-border {
  border-right: solid 1px gray;
}

.frame-item.bottom-border {
  /*border-bottom: solid 1px gray;*/
}

.frame-item-title {
 padding-top: 20px;
  text-align: center;
  font-family: "Oswald",sans-serif;
  font-weight: 700;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 4px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.frame-item-description {
  background: white;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  height: 40%;
  font-weight: 400;
  line-height: 25px;


}

.frame-item-price {
  font-size: 17px;
  background-color: white;
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.frame-item-weight {
  font-size: 17px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.frame-item-image {
  position: relative;
  padding: 5px 0px;
}


.frame-item-image .img{
  position: relative;
  margin: 0 auto;
  width: 83%;
  z-index: 1;
  overflow:hidden;
}

.frame-item-image hr{
  width: 80%;
}

.frame-item-panel {
  position: absolute;
  top: 0;
  padding: 0 20px;
}


.img .frame-item-desc {
  position: absolute;
  width: 102%;
  transition: all 0.2s ease 0s;
  margin-left: -2%;
}
.img .frame-item-desc-hide{
  top: -400px;
}
.img .frame-item-desc-show{
  top: 0px;
}

.frame-item-image .img .hoverBackground{
  width: 95%;
  left: 9px;
  height: 390px;
  background-color: #60C2B1;
  opacity: 0.9;
  z-index:2;

}







.frame-item-button {
  width: 80%;
  background-color: #A7A9AC;
  display: inline-block;
  color: #FFF;
  height: 60px;
  margin-top: 30px;
  padding-top: 22px;
  text-align: center;
  font-family: "Oswald",sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 1px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -2%;
}

.frame-item-button:hover {
  background-color: #60C2B1;
  cursor: pointer;
}


p{
  margin: 0px 0px 0px;
}

.frame-info-table{
  font-size: 17px;
  background-color: #FFF;
  height: 10%;
  opacity: 0.75;
  padding-top: 4%;
  width: 100%;
}
td{
  width:150px;

}

td.blue-line{
  border-right: 1px solid #C4CBCA;
}

