.wrapper{
  max-width: 1300px;
  margin:auto;
}

#background {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 50vh;
  width: 100%;
  z-index: -5000;
  background: -webkit-linear-gradient(#EAEAEA, #FFFFFF);
  background: linear-gradient(#EAEAEA, #FFFFFF);
}

button{
  background-color: #4f9dff;
  color: white;
  border: 0;
  font-size: 0.9em;
  height: 30px;
  padding: 5px 12px;
}

.frame-header {
  text-align: left;
  margin-bottom: 20px;
  margin-top: 30px;
  margin-left: 10%;
}

.frameCol .intro{
  margin-top: 10px;
  margin-bottom: 30px;
  padding-top: 20px;
}

.detailCol section{
  margin-top: 10px;
}










/******main display part*****/

.mainDisplay{
  width: 100%;
  margin: 30px auto 30px auto;
  text-align: center;
}

section{
  margin-left: 34px;
}

#wheels{
  margin-left: 0;
  width: 100%;
  border-bottom: 2px solid darkgrey;
  padding-bottom: 9px;
  height:auto;
  margin-bottom: 30px;
}

.frame-item {
  position: relative;
  line-height: 1;
  display: inline-block;
  width: 100%;
  max-width: 750px;
  margin-bottom: 10px;
  border: solid 1px #eaeaea;
  background-color: #FFFFFF;
}

.frame-item.right-border {
  margin-right: 10%;
  border-left: solid 1px #eaeaea;
}

.frame-item.bottom-border {
  /*border-bottom: solid 1px gray;*/
}


.frame-item-title {
 padding-top: 20px;
  text-align: center;
  font-size: 25px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  margin-top: 35px;
  margin-bottom: 25px;
}

.frame-item-description {
  background-color: #4F9DFF;
  font-size: 18px;
  height: 180px;
  line-height: 25px;
  overflow: auto;
  padding: 2% 5% 0;
  text-align: left;
  clear: both;
  float: right;
  text-align: left;
  padding-left: 0;
}

.horizontal .frame-item-desc .frame-item-description{
background: white;
}

.frame-item-price {
  font-size: 17px;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 8px;
  margin: auto;
}

.frame-item-weight {
  font-size: 17px;
  margin: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

.horizontal .frame-item-price, .horizontal .frame-item-weight {
  font-size: 22px;
}

.frame-item-image {
  position: relative;
  float: left;
  padding-top: 15px;
}

.frame-item-image > img{
  position: relative;
  width: 250px;
  z-index: 1;
  overflow:hidden;
}

.frame-item-panel {
  position: absolute;
  top: 0;
  padding: 0 20px;
}


.img .frame-item-desc {
  position: absolute;
  width: 100%;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  height: 100%;
  opacity: 0.9;
}

.frame-item-button:hover {
  background-color: #4F9DFF;
  color: #ffffff;
  cursor: pointer;
}

.frame-item-right {
  border: solid 1px #eaeaea;
  padding: 20px;
  float: right;
  width: calc(100% - 250px);
  display: inline-block;
  border: none;
  height: 100%;
  text-align: left;
}

.frame-item-right>span {
  font-size: 22px;
  float: left;
  padding-top: 10px;
}

.frame-item-right-details {
  float: right;
  display: inline-block;
  text-align: right;
  margin-left: 0;
  margin-top: 0;
}

p{
  margin: 0 0 0;
}

.frame-info-table{
  font-size: 17px;
  background-color: #FFF;
}

td {
  width: 85px;
}

.horizontal td {
  width: 125px;
}

.addButton{
  margin-top: 0px;
  position: relative;
}

.addButtonHouse{
  padding: 15px 15px 0px 15px;
  position: relative;
  width: 100%;
  float: right;
  clear: right;
  text-align: right;
}

.horizontal_icon_horizontal{
  position:absolute;
  top:105px;
  left: calc(50% + 470px);
}
.gallary_icon_horizontal{
  position:absolute;
  top:105px;
  left: calc(50% + 440px);
}

.gallary_icon_horizontal:hover{
  cursor: pointer;
}

#siteCredit {
  position: fixed;
  bottom: 15px;
  left: 50px;
  font-size: 0.75em;
}

.bottom-banner {
	width: 100%;
	background-color: #4F9DFF;
	opacity: 1;
	z-index: 9000;
	position: absolute;
    padding: 0px;
}

.bottom-banner-left{
    float:left;
    color: #FFFFFF;
    list-style: none;
    margin-left: 15px;
    font-size: 0.6em;
    width: 150px;
}

.bottom-banner-left > li {
  background: no-repeat 0 0;
  float:left;
  margin-top: 5px;
}

.bottom-banner-left img{
  height: 27px;
}
.bottom-banner-left .siteLink{
  margin-top: -4px;
  color: #FFFFFF;
}

.bottom-banner-right{
    position: relative;
    float: right;
    clear: right;
    color: #FFFFFF;
    margin-top: 4px;
    width: calc(100% - 170px);
}

.bottom-banner-right > ul{
    float: right;
    text-align: right;
    list-style: none;
    display: inline-block;
} 

.bottom-banner-right > ul > li {
  margin-left:20px;
  margin-right:20px;
  display: inline-block;
}

.bottom-banner-right > ul > li > a {
  color: #FFFFFF;
}

.bottom-banner-right > ul > li > a:hover {
  color: #FFFFFF;
}

/*---------Responsive Index---------*/
@media (max-width: 980px){
    #siteCredit{
        display: none;
    }
}

@media (max-width: 750px){
    .mainDisplay{
        width: 100%;
        margin: 0px 0px 0px 0px;
    }
    
    .frame-item{
        margin-bottom: 0px;
    }
    
    #background {
        background: #EAEAEA;
    }
    
    .frame-item-image{
      width: 25%;
    }
    .frame-item-image > img{
      width: 100%;
    }
    
    .frame-item-right{
      width: calc(75% - 10px);
      padding: calc(3vw);
    }
    
    .frame-item-right > span {
      padding: 0px;
    }
    .frame-item-right .medium{
      font-size: calc(5vw);
    }
    
    .frame-item-description{
      display: none;
    }
    
    .frame-item-desc{
    }
    
    .addButton{
      width: 100%;
      height: calc(5vw + 10px);
      padding: 5px 0px 5px 0px;
      font-size: calc(3vw);
    }
    
    /*#tmInfo{
      display: none;
    }*/
}