/* ----- CSS FOR INDEX.HTML ----- */
body {
  padding-top: 0px;
  padding-bottom: 20px;
  line-height: 0;
  background-color: #FFF;

  font-family: 'PT Sans', sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
  min-width: 1300px;
}

#backgrounder {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 475px;
  width: 100%;
  z-index: -5000;
  background-color: #EAEAEA;
}





/* nav bar */


.mainNavbar  {
  background-color: #FFFFFF;
  position:relative;
  width: 100%;
  height: 40px;
}

.mainNavbar-header {
  clear: right;
  float: left;
  margin-left: 5px;
}

.mainNavbar-left {
  float: left;
  list-style: none;
}
.mainNavbar .mainNavbar-left > li {
  float: left;
  margin-right: 15px;
  margin-top: 8px;
}
.mainNavbar .mainNavbar-left > li > a {
 text-decoration: none;
}
.mainNavbar .mainNavbar-left > li > a img {
  margin-right: 5px;
}

.mainNavbar-right {
  clear: right;
  float: right;
  list-style: none;
}
.mainNavbar .mainNavbar-right > li {
  float: right;
  margin-right: 15px;
  margin-top: 18px;
}
.mainNavbar .mainNavbar-right > li > a {
  text-decoration: none;
}


/* nav bar left colors */

.mainNavbar .mainNavbar-left > li > a {
  color: #000;
  font-family:inherit;
}
.mainNavbar .mainNavbar-left > li > a:hover,
.mainNavbar .mainNavbar-left > li > a:focus {
  color: #777;
}
.mainNavbar .mainNavbar-left > .active > a,
.mainNavbar .mainNavbar-left > .active > a:hover,
.mainNavbar .mainNavbar-left > .active > a:focus {
  color: #00A89C;
  background-color: #FFF;
}
.mainNavbar .mainNavbar-left > .open > a,
.mainNavbar .mainNavbar-left > .open > a:hover,
.mainNavbar .mainNavbar-left > .open > a:focus {
  color: #00A89C;
  background-color: #FFF;
}
/* caret */
.mainNavbar .mainNavbar-left > .dropdown > a .caret {
  border-top-color: #000;
  border-bottom-color: #000;
}
.mainNavbar .mainNavbar-left > .dropdown > a:hover .caret,
.mainNavbar .mainNavbar-left > .dropdown > a:focus .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
.mainNavbar .mainNavbar-left > .open > a .caret,
.mainNavbar .mainNavbar-left > .open > a:hover .caret,
.mainNavbar .mainNavbar-left > .open > a:focus .caret {
  border-top-color: #00A89C;
  border-bottom-color: #00A89C;
}


/* nav bar right styles */

.mainNavbar .mainNavbar-right > li > a {
  color: #000;
  font-family:inherit;
}
.mainNavbar .mainNavbar-right > li > a:hover,
.mainNavbar .mainNavbar-right > li > a:focus {
  color: #777;
}
.mainNavbar .mainNavbar-right > .active > a,
.mainNavbar .mainNavbar-right > .active > a:hover,
.mainNavbar .mainNavbar-right > .active > a:focus {
  color: #00A89C;
  background-color: #FFF;
}
.mainNavbar .mainNavbar-right > .open > a,
.mainNavbar .mainNavbar-right > .open > a:hover,
.mainNavbar .mainNavbar-right > .open > a:focus {
  color: #00A89C;
  background-color: #FFF;
}
/* caret */
.mainNavbar .mainNavbar-right > .dropdown > a .caret {
  border-top-color: #000;
  border-bottom-color: #000;
}
.mainNavbar .mainNavbar-right > .dropdown > a:hover .caret,
.mainNavbar .mainNavbar-right > .dropdown > a:focus .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
.mainNavbar .mainNavbar-right > .open > a .caret,
.mainNavbar .mainNavbar-right > .open > a:hover .caret,
.mainNavbar .mainNavbar-right > .open > a:focus .caret {
  border-top-color: #00A89C;
  border-bottom-color: #00A89C;
}


/* the main container that can be found in the sub pages */
#appContainer .appBody {
  width: 1280px;
  margin: auto;
}
