/* ----- CSS FOR INDEX.HTML ----- */


body {
  padding-top: 0;
  padding-bottom: 20px;
  background-color: #FFF;

  font-family: 'Roboto', sans-serif;
  min-width: 1050px;
}

.preload {
  display: none;
}


/* nav bar */
.mainNavbar  {
  position:relative;
  z-index: 500;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 40px;
  background-color: #1C1B1A;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.8);
  line-height:0;
  font-family: "Oswald" , sans-serif;
  font-weight: 300;
  color: #00A89C;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.mainNavbar-header {
  float: left;
  height: 100%;
  margin: 0 0 0 5px;
  padding: 3px 5px 0 0;
  border-right: 1px solid #777;
}

.mainNavbar-left {
  float: left;
  margin: 0 0 0 20px;
  padding: 0;
  list-style: none;

}
.mainNavbar .mainNavbar-left > li {
  float: left;
  height: 20px;
  margin: 10px 20px 0 0;
  padding: 10px 0 0 25px;
  background: no-repeat 0 0;
  background-size: 20px 20px;
  cursor: pointer;




}

.mainNavbar .mainNavbar-left > li.frameNavButton {
  background-image: url("../images/icons/frames_white.png");
}
.mainNavbar .mainNavbar-left > li.aboutNavButton {
  background-image: url("../images/icons/about_us_white.png");
}

.mainNavbar .mainNavbar-left > li.frameNavButton:hover,
.mainNavbar .mainNavbar-left > li.frameNavButton:focus,
.mainNavbar .mainNavbar-left > li.frameNavButton.active,
.mainNavbar .mainNavbar-left > li.frameNavButton.active:hover,
.mainNavbar .mainNavbar-left > li.frameNavButton.active:focus {
  background-image: url("../images/icons/on_frames.png");
}
.mainNavbar .mainNavbar-left > li.aboutNavButton:hover,
.mainNavbar .mainNavbar-left > li.aboutNavButton:focus,
.mainNavbar .mainNavbar-left > li.aboutNavButton.active,
.mainNavbar .mainNavbar-left > li.aboutNavButton.active:hover,
.mainNavbar .mainNavbar-left > li.aboutNavButton.active:focus {
  background-image: url("../images/icons/on_about_us.png");
}

.mainNavbar .mainNavbar-left > li > a {
  text-decoration: none;
}



/*********main Navigation bar right**************/
.mainNavbar-right {
  clear: right;
  float: right;
  margin: 0 0 0 0;
  padding: 0;
  list-style: none;
}
.mainNavbar .mainNavbar-right > li {
  float: right;
  margin: 0 0 0 0;
  padding: 0;
}

.mainNavbar .mainNavbar-right .cartIcon{
  position: absolute;
  right: 8px;
  top: 3px;
}


.mainNavbar .mainNavbar-right > li > a {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.mainNavbar .mainNavbar-right .cartButton {
    height: 100%;
    margin: 0px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 0px;
}
.mainNavbar .mainNavbar-right .loginButton {
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 10px 0 0;
}
.mainNavbar .mainNavbar-right .settingsButton {
  position: relative;
  height: 40px;
  margin: 0 0 0 0;
  padding: 18px 10px 0 0;
}



/* nav bar left colors */

.mainNavbar .mainNavbar-left > li > a {
  color: inherit;
}
.mainNavbar .mainNavbar-left > li {
  color: #FFF;
  font-family: "Oswald",sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: Uppercase;
  letter-spacing: 1px
}
.mainNavbar .mainNavbar-left > li:hover,
.mainNavbar .mainNavbar-left > li:focus {
  color: #00A89C;
}
.mainNavbar .mainNavbar-left > .active > a,
.mainNavbar .mainNavbar-left > .active > a:hover,
.mainNavbar .mainNavbar-left > .active > a:focus {
  color: #00A89C;
}

/* nav bar right styles */

.mainNavbar .mainNavbar-right > li > a {
  color: inherit;
}
.mainNavbar .mainNavbar-right > li {
  color: #FFF;
  font-family:inherit;
}
.mainNavbar .mainNavbar-right > li:hover,
.mainNavbar .mainNavbar-right > li:focus {
  text-decoration: none;
  color: #00A89C;
}
.mainNavbar .mainNavbar-right > .active > a,
.mainNavbar .mainNavbar-right > .active > a:hover,
.mainNavbar .mainNavbar-right > .active > a:focus {
  color: #00A89C;
  text-decoration: none;

}

/*login session*/

.login{
  position: relative;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0;
}

.login .loginText{
  padding: 20px 15px;
  color: #FFF;
  font-family: "Oswald",sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: Uppercase;
  letter-spacing: 1px;
  border-right: 1px solid rgb(119, 119, 119);
}

.login .window{
  color: #000000;
  background-color: white;
  width: 240px;
  position: absolute;
  top: 40px;
  left: -158px;
  line-height: 1.3;
  border: 1px solid black;
  padding: 20px 20px 30px;
  z-index: 10000;
}

.login input{
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 10px;
}

.login .window span{
  font-size: 0.8em;
}

.login .window span:first-of-type{
  color: grey;
  font-style: oblique;
  float: left;
}
.login .window span:last-of-type{
  float: right;
}

.login .window .login-button{
  color: white;
  text-align: center;
  padding-top: 8px;
  width: 100%;
  height: 36px;
  background-color: #00A89C;
  font-size: 1em;
  margin-top: 26px;
}

.login .login-button:hover {
  cursor: pointer;
}

.login .login-optionrow span:hover {
  cursor: pointer;
}

.afterlogin {
  position: absolute;
  top: 39px;
  right:-26px;
  color: #000000;
  background-color: white;
  line-height: 1;
  letter-spacing: 1px;
  width: 240px;
  border: 1px solid black;
  padding: 8px 20px 16px;
  z-index: 100000;
}

.afterlogin #divider{
  border-bottom: 1px solid #939597;
}

.afterlogin >div{
  padding: 0.1px 0;
}

.afterlogin .logout-button{
  height: 44px;
  text-align: center;
  margin-top: 16px ;
  padding-top: 15px;
  background-color: #939597;
  color: white;
}

.afterlogin >div:hover{
  cursor:pointer;
}


/* the main container that can be found in the sub pages */
#appContainer .appBody {
  margin: auto;
}


.oswald{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 15pt
}

.roboto{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
}

.ten{
  font-size: 10pt;
}

.fifteen{
  font-size: 15pt;
}

.grey-slanted{
  color: #808284;
  font-style: italic;
}

.thick{
  font-weight: 700;
}

.ng-cloak{
  display: none;
}
