#wrapper{
  position:absolute;
  text-align: center;
  background: linear-gradient(to bottom,  rgba(136,203,195,0.5), rgba(255,255,255,1), rgba(234,234,234,1));
  height: 100vh;
  width:100vw;
}

#mainLogo{
  width: 380px;
  margin-top: 97px;
}
#text2{
  color: #00A89C;
  margin-top: 69px;
}
.text3{
  margin-top: 16px;
  margin-bottom: 20px;
  font-size: 1.5em;
}

#wrapper button{
  height: auto;
  font-size: 1.2em;
  background-color: transparent;
  padding: 10px 20px 10px 20px;
}

#wrapper button:hover{
  background-color: #00A89C;
  color: white;
}

#canvy{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
}

