.frame-header-row {
  min-height:80px;
  margin-bottom: 30px;
}

.frame-header {
  border-bottom: 1px solid black;
  bottom: -60px;
  font-size: 30px;
  height: 15px;
  position: relative;
  clear: left;
}

.frame-item {
  padding: 10px;
  min-height: 300px;
  line-height: 1;
}

.frame-item-title {
  font-size: 22px;
}

.frame-item-image {
  padding: 5px 0px;
  border-bottom: solid 1px gray;
}

.frame-item-desc {
  text-align: left;
  margin: 3px 0px;
}

.frame-item-button {
  width: 70%;
  border: 1px solid #60C2B1;
  background-color: #60C2B1;
  display:inline-block;
  color: #FFFFFF;
  height: 40px;
  margin-top: 5px;
  padding-top: 12px;
  font-size: 15px;
}

.frame-item-button:hover {
  background-color: #A7A9Ac;
  cursor: pointer;
}