#register-div{
  width: 50%;
}

.form-inline{
  width: 45%;
  display: inline-block;
  border: 0;
}

.form-inline>.form-control{
  width: 100%;
}

.form-inline:nth-child(3), .form-inline:nth-child(6){
  margin-left: calc(10% - 5px);
}

label{
  margin: 0;
}

input{
  margin: 0;
}

.settingsSidebarButton {
  float: left;
  width: 100%;
  height: 40px;
  margin-right: 2%;
  background-color: rgba(158, 159, 158, 1);
  border: none;
}

.settingsSidebarButton.active, .settingsSidebarButton:hover {
  background-color: rgba(11, 158, 144, 1);
}
.settingsSidebarButton:last-child {
  margin-right: 0;
}
