
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeInShift {
  from { opacity: 0; right: -50px; }
  to { opacity: 1; right: 0}
}

@keyframes fadeInShift {
  from { opacity: 0; right: -50px;}
  to { opacity: 1; right: 0;}
}

@-webkit-keyframes fadeInShiftPlus {
  from { opacity: 0; right: 50px; }
  to { opacity: 1; right: 100px}
}

@keyframes fadeInShiftPlus {
  from { opacity: 0; right: 50px;}
  to { opacity: 1; right: 100px;}
}

@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
/*************************
********* HEADER *********
**************************/

.settingsHeader {
  position: relative;
  clear: left;
  float: left;
  height: 40px;
  width: 100%;
  margin-top: 60px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid #686968;
}




/*************************
********* SIDEBAR ********
**************************/

.settingsSidebar {
  clear: left;
  float: left;
  width: 20%;
}

.settingsSidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.settingsSidebarOptions {
  clear: left;
  float: left;
  width: 100%;

}

.settingsSidebarOptionDivider {
  clear: left;
  float: left;
  width: 100%;
  height: 0px;
  border-bottom: 2px solid #686968;
}

.settingsSidebarOption {
  clear: left;
  float: left;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  text-align: center;
  border-left: 2px solid #686968;
  border-right: 2px solid #686968;
  cursor: pointer;
}
.settingsSidebarOption.active {
  border-right: 8px solid rgba(11, 158, 144, 1);
  transition: .5s;
  font-weight: 500;

}


.settingsSidebarButtons {
  clear: left;
  float: left;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  color: #fff;
  display: none;
}
.settingsSidebarButtons.showSettingsSidebarButtons {
  display: initial;
  animation: fadeIn 0.3s;
}
.settingsSidebarButtons.hideSettingsSidebarButtons {
  display: none;
  animation: fadeOut 0.3s;
}

.settingsSidebarButton {
 float: left;
  width: 100%;
  height: 40px;
  background-color: #FFF;
  border: solid 2px #0B9E90;
  color: #0B9E90;
}

.settingsSidebarButton.active, .settingsSidebarButton:hover {
  background-color: rgba(11, 158, 144, 1);
  color: white;
}
.settingsSidebarButton:last-child {
  margin-right: 0;
}




/*************************
**** CONTENT SECTIONS ****
**************************/

.settingsContentWrapper {
  position: relative;
  clear: right;
  float: right;
  width: 70%;
  margin-right: 5%;
}

.settingsContent {
  position: absolute;
  top: 0;
  right: -50px;
  width: 100%;
  line-height: 1;
  display: none;
  z-index: 0;
}

.showSettingsContent {
  display: initial;
  top: 0;
  right: 0;
  z-index: 500;
  animation: fadeInShift 0.5s;
}




/*************************
***** ACCOUNT SECTION ****
**************************/

#settingsAccountContent .settingsContentInputSection {
  margin: 20px 0 20px 0;
}

#settingsAccountContent .settingsContentSectionTitle {
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  color: rgba(138, 139, 138, 1);
  border-bottom: 2px solid rgba(138, 139, 138, 1);
}

#settingsAccountContent .settingsContentInputSection ul {
  margin: 0 0 0 30px;
  padding: 0;
  list-style: none;
}

#settingsAccountContent .settingsContentInputSection label {
  color: rgba(26, 25, 25, 1);
  font-weight: normal;
  display: block;
}

#settingsAccountContent .settingsContentInputSection input {
  width: 200px;
  margin-bottom: 15px;
  border: 1px solid rgba(182, 184, 182, 1);
}





/*************************
***** ORDERS SECTION *****
**************************/

#settingsOrdersContent #settingsOrdersContentItems {
  clear: left;
  float: left;
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 0;
  list-style: none;
}

#settingsOrdersContent .settingsOrdersContentItem {
  clear: left;
  float: left;
  height: auto;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(182, 184, 182, 1);
  width: 92%;

}

#settingsOrdersContent .settingsOrdersContentItem-image {
  clear: left;
  float: left;
  width: 25%;
  vertical-align: middle;
}

#settingsOrdersContent canvas{
  clear: left;
  float: left;
  width: 25%;
  vertical-align: middle;
  margin-bottom: 7px;
}



.settingsOrdersContentItem td, p{
  padding: 5px 50px 5px 0;
  font-size: 1.1em;
  margin-bottom: 0;
}

.settingsOrdersContentItem thead{
  padding: 5px 15px 5px 0;
  font-size: 1.1em;
}

.settingsOrdersContentItem button{
  border-radius: 0;
  padding: 10px;
  color: #00a89c;
  font-size: 1.2em;
  background-color: white;
  margin-top:10px;
  border: 1px solid #939597;
  vertical-align: top;
}

.settingsOrdersContentItem button:hover{
  color: white;
  background-color: #00A89C;
}





#contactInfo{
  position: relative;
  display: inline-block;
  margin-left: 30px;

}

#contactInfo p{
  position: relative;
  padding: 10px 10px;
  background-color: #eaeaea;
  margin-bottom: 10px;
  line-height: 1.5;
}



/***************************
*** MEASUREMENTS SECTION ***
****************************/

#settingsMeasurementsContent .settingsContentInputSection {
  clear: left;
  float: left;
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 0;
  list-style: none;
}

#settingsMeasurementsContent .settingsContentSectionTitle {
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  color: rgba(138, 139, 138, 1);
  border-bottom: 2px solid rgba(138, 139, 138, 1);
}

#settingsMeasurementsContent .settingsContentInputSection ul {
  margin: 0 0 0 30px;
  padding: 0;
  list-style: none;
}

#settingsMeasurementsContent .settingsContentInputSection label {
  color: rgba(26, 25, 25, 1);
  font-weight: normal;
  display: block;
  cursor: pointer;
  transition: .5s;
}
#settingsMeasurementsContent .settingsContentInputSection label:hover,
#settingsMeasurementsContent .settingsContentInputSection label.active {
  color: rgba(11, 158, 144, 1);
}

#settingsMeasurementsContent .settingsContentInputSection select {
  width: 200px;
  margin-bottom: 15px;
  border: 1px solid rgba(182, 184, 182, 1);
  outline: none;
}

#settingsMeasurementsContent .settingsContentInputMoreInfoSection {
  position: absolute;
  top: 100px;
  right: 50px;
  width: 400px;
  display: none;
  z-index: 0;
}
#settingsMeasurementsContent .settingsContentInputMoreInfoSection.active {
  right: 100px;
  display: initial;
  z-index: 500;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation: fadeInShiftPlus 0.5s;
}

#settingsMeasurementsContent .settingsContentInputMoreInfoSection .settingsContentSectionTitle {
  border: none;
  margin: 0 0 5px 0;
  padding: 0;
  color: rgba(28, 27, 26, 1);
}

#settingsMeasurementsContent .settingsContentInputMoreInfoSection .settingsContentSectionGraphic {
  text-align: center;
}

#settingsMeasurementsContent .settingsContentInputMoreInfoSection .settingsContentSectionGraphic img {
  margin: 20px 0 20px 0;
}

#settingsMeasurementsContent .settingsContentInputMoreInfoSection .settingsContentSectionGraphic .dots {
  margin: 0 0 20px 0;
}


























