
@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-webkit-keyframes fadeInShift {
  from { opacity: 0; right: -50px; }
  to { opacity: 1; right: 0}
}

@keyframes fadeInShift {
  from { opacity: 0; right: -50px;}
  to { opacity: 1; right: 0;}
}

@-webkit-keyframes fadeInShiftPlus {
  from { opacity: 0; right: -50px; }
  to { opacity: 1; right: 0px}
}

@keyframes fadeInShiftPlus {
  from { opacity: 0; right: -50px;}
  to { opacity: 1; right: 0px;}
}

@-webkit-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}
/*************************
********* HEADER *********
**************************/

.settingsHeader {
  position: relative;
  clear: left;
  float: left;
  height: 40px;
  width: 100%;
  margin-top: 40px;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 2px solid #686968;
}

.appBody {
  width: 80%;
}


/*************************
********* SIDEBAR ********
**************************/

.settingsSidebar {
  clear: left;
  float: left;
  width: 20%;
}

.settingsSidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.settingsSidebarOptions {
  clear: left;
  float: left;
  width: 100%;

}

.settingsSidebarOptionDivider {
  clear: left;
  float: left;
  width: 100%;
  height: 0px;
  border-bottom: 2px solid #686968;
}

.settingsSidebarOption {
  clear: left;
  float: left;
  width: 100%;
  height: 60px;
  padding-top: 20px;
  text-align: center;
  border-left: 2px solid #686968;
  border-right: 2px solid #686968;
  cursor: pointer;
}
.settingsSidebarOption.active {
  border-right: 8px solid rgba(79, 157, 255, 1);
  -webkit-transition: .5s;
  transition: .5s;
  font-weight: 500;

}


.settingsSidebarButtons {
  clear: left;
  float: left;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  color: #fff;
  display: none;
}
.settingsSidebarButtons.showSettingsSidebarButtons {
  display: initial;
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
}
.settingsSidebarButtons.hideSettingsSidebarButtons {
  display: none;
  -webkit-animation: fadeOut 0.3s;
          animation: fadeOut 0.3s;
}

.settingsSidebarButton {
 float: left;
  width: 100%;
  height: 40px;
  background-color: #FFF;
  border: solid 2px #4F9DFF;
  color: #4F9DFF;
}

.settingsSidebarButton.active, .settingsSidebarButton:hover {
  background-color: rgba(79, 157, 255, 1);
  color: white;
}
.settingsSidebarButton:last-child {
  margin-right: 0;
}




/*************************
**** CONTENT SECTIONS ****
**************************/

.settingsContentWrapper {
  position: relative;
  clear: right;
  float: right;
  width: 70%;
  margin-right: 5%;
}

.settingsContent {
  position: absolute;
  top: 0;
  right: -50px;
  width: 100%;
  line-height: 1;
  display: none;
  z-index: 0;
}

.showSettingsContent {
  display: block;
  display: initial;
  top: 0;
  right: 0;
  z-index: 500;
  -webkit-animation: fadeInShift 0.5s;
          animation: fadeInShift 0.5s;
}




/*************************
***** ACCOUNT SECTION ****
**************************/

#settingsAccountContent .settingsContentInputSection {
  margin: 20px 0 20px 0;
}

#settingsAccountContent .settingsContentSectionTitle {
  padding-bottom: 5px;
  margin-bottom: 15px;
  font-size: 20px;
  color: rgba(138, 139, 138, 1);
  border-bottom: 2px solid rgba(138, 139, 138, 1);
}

#settingsAccountContent .settingsContentSectionTitle span {
  font-size: 15px;
  color: red;
}

#settingsAccountContent .settingsContentInputSection ul {
  margin: 0 0 0 30px;
  padding: 0;
  list-style: none;
}

#settingsAccountContent .settingsContentInputSection label {
  color: rgba(26, 25, 25, 1);
  font-weight: normal;
  display: block;
}

#settingsAccountContent .settingsContentInputSection input {
  width: 200px;
  margin-bottom: 15px;
  border: 1px solid rgba(182, 184, 182, 1);
}





/*************************
***** ORDERS SECTION *****
**************************/

#settingsOrdersContent #settingsOrdersContentItems {
  clear: left;
  float: left;
  width: 100%;
  margin: 20px 0 20px 0;
  padding: 0;
  list-style: none;
}

#settingsOrdersContent .order-item {
  list-style-type: none;
}

#settingsOrdersContent .order-header {
  margin: 10px 0;
}

#settingsOrdersContent .order-links a:first-child {
  margin-left: 10px;
}

#settingsOrdersContent .order-links {
  display: inline;
}

#settingsOrdersContent .order-links::after {
  clear: both;
}

#settingsOrdersContent .order-header h3 {
  display: inline;
}

#settingsOrdersContent .order-header a{
  float: right;
  padding: 10px;
  border: 1px solid;
}

#settingsOrdersContent .order-item {
  margin: 20px 0 0;
}

#settingsOrdersContent .order-item {
  padding: 0;
}
    
#settingsOrdersContent .order-item li{
 display: flex;
 justify-content: space-between;
 align-items: center;
 border-left: 2px solid #4f9dff;
 margin-bottom: 10px;
}

#settingsOrdersContent .settingsOrdersContentItem {
  clear: left;
  float: left;
  height: auto;
  margin-bottom: 12px;
  border-bottom: 1px solid rgba(182, 184, 182, 1);
  width: 92%;
  padding-bottom: 21px;
}

#settingsOrdersContent .settingsOrdersContentItem-image {
  clear: left;
  float: left;
  width: 25%;
  vertical-align: middle;
}

#settingsOrdersContent canvas{
  clear: left;
  float: left;
  width: 25%;
  vertical-align: middle;
  margin-bottom: 7px;
}



.settingsOrdersContentItem td, p{
  padding: 5px 50px 5px 0;
  font-size: 1.1em;
  margin-bottom: 0;
}

.settingsOrdersContentItem thead{
  padding: 5px 15px 5px 0;
  font-size: 1.1em;
}

.settingsOrdersContentItem button{
  border-radius: 0;
  padding: 10px;
  color: #4F9DFF;
  font-size: 1.2em;
  background-color: white;
  margin-top:10px;
  border: 1px solid #939597;
  vertical-align: top;
}

.settingsOrdersContentItem button:hover{
  color: white;
  background-color: #4F9DFF;
}





#contactInfo{
  position: relative;
  display: inline-block;
  margin-left: 30px;
  border-radius: 0;
  padding: 10px;
  color: #4F9DFF;
  font-size: 1.2em;
  background-color: white;
  margin-top: 10px;
  border: 1px solid #939597;
  vertical-align: top;
  height:38px;
}





/***************************
*** MEASUREMENTS SECTION ***
****************************/

/*******font******/
.oBold{
  font-family: 'oswald-bold';
  font-size: 1em;
}
.oReg{
  font-family: 'oswald-regular';
  font-size: 1em;
}

.gBook{
  font-family: 'gotham-book';
  font-size: 1em;
}




.button{
  margin-top: 0;
  height: 35px;
  background-color: #4896FF;
  color: #FFFFFF;
  border-color: #4896FF;
  border-radius: 0px;
  padding: 0 10px;

}

.button:hover {
  background-color: white;
  border-color: #4896FF;
  color: #4896FF;
}
#mainDisplay{
  width: 700px;
  float: left;
  margin-top: 30px;
}



#header{
  position: relative;
  margin: 0 15px 0;
}

#header p{
  font-size: 1.7em;

}
.compareButton{
  position: absolute;
  top: 0;
  right: 0;
}


/********* wheelchair content display***/
#mainContent{
  width: 100%;
  display: inline-block;
}

.chairBlock{
  width: 100%;
  list-style-type: none;
  padding: 10px 15px;
  margin-right: 20px;
}

.chairBlock .chairTitle{
  width: 100%;
  background-color: darkgrey;
  font-size: 1.1em;
  padding:0 20px;
}

.chairBlock .selectedChair {
  background-color:#4f9dff;
}



.cart-item{
  background-color: white;
  margin-bottom: 20px;
}

.media-object{
  width: 30%;
  position: relative;
  display:inline-block;
}

.checkbox-button {

}

.media-body {
  overflow: visible;
  display: inline-block;
  width: 65%;
  vertical-align: top;
}
.media-body .firstLine{
  margin: 10px 0 58px;
}

.media-body a{
  color: #4f9dff;
}
.media-body .actions table{
  margin-bottom: 20px;
}
.media-body .actions td{
  padding: 0 15px;
  border-right: 2px solid black;
}

.media-body .actions td:first-of-type{
  padding-left: 0;
}

.media-body .moreInfoTitle{
  margin-top: 27px;
  color: #4f9dff;

}
.moreInfoTitle .clickable-text{
  display: inline-block;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  outline: none;
}

.moreInfo table{
  width: 100%;
}

.moreInfo .title-column{
  color: #939597;
}










/*#settingsMeasurementsContent .settingsContentInputSection {*/
  /*clear: left;*/
  /*float: left;*/
  /*width: 100%;*/
  /*margin: 20px 0 20px 0;*/
  /*padding: 0;*/
  /*list-style: none;*/
/*}*/

/*#settingsMeasurementsContent .settingsContentSectionTitle {*/
  /*padding-bottom: 5px;*/
  /*margin-bottom: 15px;*/
  /*font-size: 20px;*/
  /*font-weight: bold;*/
  /*color: rgba(138, 139, 138, 1);*/
  /*border-bottom: 2px solid rgba(138, 139, 138, 1);*/
/*}*/

/*#settingsMeasurementsContent .settingsContentInputSection ul {*/
  /*margin: 0 0 0 30px;*/
  /*padding: 0;*/
  /*list-style: none;*/
/*}*/

/*#settingsMeasurementsContent .settingsContentInputSection label {*/
  /*color: rgba(26, 25, 25, 1);*/
  /*font-weight: normal;*/
  /*display: block;*/
  /*cursor: pointer;*/
  /*transition: .5s;*/
/*}*/
/*#settingsMeasurementsContent .settingsContentInputSection label:hover,*/
/*#settingsMeasurementsContent .settingsContentInputSection label.active {*/
  /*color: rgba(11, 158, 144, 1);*/
/*}*/

/*#settingsMeasurementsContent .settingsContentInputSection select {*/
  /*width: 200px;*/
  /*margin-bottom: 15px;*/
  /*border: 1px solid rgba(182, 184, 182, 1);*/
  /*outline: none;*/
/*}*/

/*#settingsMeasurementsContent .settingsContentInputMoreInfoSection {*/
  /*position: absolute;*/
  /*top: 100px;*/
  /*right: 50px;*/
  /*width: 400px;*/
  /*display: none;*/
  /*z-index: 0;*/
/*}*/
/*#settingsMeasurementsContent .settingsContentInputMoreInfoSection.active {*/
  /*right: 0px;*/
  /*display: initial;*/
  /*z-index: 500;*/
  /*-webkit-animation-direction: alternate;*/
  /*-moz-animation-direction: alternate;*/
  /*-o-animation-direction: alternate;*/
  /*animation: fadeInShiftPlus 0.5s;*/
/*}*/

/*#settingsMeasurementsContent .settingsContentInputMoreInfoSection .settingsContentSectionTitle {*/
  /*border: none;*/
  /*margin: 0 0 5px 0;*/
  /*padding: 0;*/
  /*color: rgba(28, 27, 26, 1);*/
/*}*/

/*#settingsMeasurementsContent .settingsContentInputMoreInfoSection .settingsContentSectionGraphic {*/
  /*text-align: center;*/
/*}*/

/*#settingsMeasurementsContent .settingsContentInputMoreInfoSection .settingsContentSectionGraphic img {*/
  /*margin: 20px 0 20px 0;*/
/*}*/

/*#settingsMeasurementsContent .settingsContentInputMoreInfoSection .settingsContentSectionGraphic .dots {*/
  /*margin: 0 0 20px 0;*/
/*}*/


























