<link href="../../styles/checkout/cart.css" rel="stylesheet"/>


<div class="appBody">

  <div class="text-center cartBody">
    <!-- Heading -->
    <div class="cartHeading">
      <h3><strong>MY DESIGNS</strong></h3>
      <a ng-href="#/frame">
        <div class="backButton">&lt;&lt; Design Another Wheelchair</div>
      </a>
    </div>

    <!--comparison table main problem-->
    <div id="mainContent">
      <div id="comparisonImages">
        <p><h4>Design for Brian</h4></p>
        <img ng-mouseover="editPanelShow = true" ng-mouseleave="editPanelShow = false"
             data-ng-src="images/mainpic.png" width="185">
        <table ng-show="editPanelShow === true">
          <tr>
            <td><img data-ng-src="images/my_design_page/zoom_in.png" width="20"> </td>
            <td><strong>Edit</strong></td>
            <td><img data-ng-src="images/my_design_page/delete.png" width="20"> </td>
          </tr>
        </table>
        <p class="addButton"><h3 >ADD TO CART</h3></p>
      </div>
      <div id="comparisonImages">
        <p><h4>Design for Brian</h4></p>
        <img data-ng-src="images/mainpic.png" width="185">
        <table>
          <tr>
            <td><img data-ng-src="images/my_design_page/zoom_in.png" width="20"> </td>
            <td><strong>Edit</strong></td>
            <td><img data-ng-src="images/my_design_page/delete.png" width="20"> </td>
          </tr>
        </table>
        <p class="addButton"><h3>ADD TO CART</h3></p>
      </div>
      <div id="comparisonImages">
        <p><h4>Design for Brian</h4></p>
        <img data-ng-src="images/mainpic.png" width="185">
        <table>
          <tr>
            <td><img data-ng-src="images/my_design_page/zoom_in.png" width="20"> </td>
            <td><strong>Edit</strong></td>
            <td><img data-ng-src="images/my_design_page/delete.png" width="20"> </td>
          </tr>
        </table>
        <p class="addButton"><h3>ADD TO CART</h3></p>
      </div>
    </div>

    <table id="parts-table">
      <tr class="price-weight-row">
        <td class="title-column">
          <p>Price</p>
        </td>
        <td  class="value-column" ng-repeat="wheelchair in wheelchairs">
          <p>${{wheelchair.getTotalPrice()}}</p>
        </td>
        <td  class="value-column" ng-repeat="space in emptyCols"></td>
      </tr>
      <tr class="price-weight-row">
        <td class="title-column">
          <p>Weight</p>
        </td>
        <td  class="value-column" ng-repeat="wheelchair in wheelchairs">
          <p data-ng-bind="getWeightString(wheelchair)"></p>
        </td>
        <td  class="value-column" ng-repeat="space in emptyCols"></td>
      </tr>
      <tr class="part-row" ng-repeat="part in parts">
        <td class="title-column">
          <p>{{part.getName()}}</p>
        </td>
        <td class="value-column" ng-repeat="wheelchair in wheelchairs">
          <p data-ng-bind="getPartOption(wheelchair, part)"></p>
        </td>
        <td  class="value-column" ng-repeat="space in emptyCols"></td>
      </tr>
    </table>


    <!-- Cart Items
    <div class="cartItems">
      <div class="emptyCartMessage" ng-show="wheelchairs.length == 0">
        You haven't saved any wheelchair designs
      </div>
      <table class="cartItemsTable">
        <tbody>
        <tr class="cartItem" data-ng-repeat="w in wheelchairs">
          <td class="cartItemThumb">
            <img height="100" width="100" style="position: relative; top:0px;" />
          </td>
          <td class="cartItemDetails">
            <div>
              <div class="cartItemDetailDisplay">
                <div class="cartItemName">
                  {{w.getTitle()}}
                </div>
                <div class="cartItemPrice">
                  ${{w.getTotalPrice().toFixed(2)}}
                </div>
                <div class="cartItemWeight">
                  {{getWeightString(w)}}
                </div>
              </div>
              <div class="cartItemButtons">
                <button class="cartItemDetailsButton cartItemButton"
                        data-ng-click="seeWheelchairDetails($index)">
                  See Details <i class="fa fa-caret-down"
                                 data-ng-class="{'fa-caret-down':curDetailPanel != $index , 'fa-caret-up':curDetailPanel == $index}"></i>
                </button>
                <button class="cartItemEditButton cartItemButton"
                        data-ng-click="editWheelchair($index)">
                  Edit
                </button>
                <button class="cartItemRemoveButton cartItemButton"
                        data-ng-click="deleteWheelchair($index)">
                  Delete
                </button>
                <button class="cartAddButton"
                        data-ng-click="addWheelchairToOrder($index)"
                        data-ng-if="wInOrder[$index] === false"
                        data-ng-class="{'inactive': w.allMeasuresSet() === false }">
                  Add to Cart
                </button>
                <button class="cartRemoveButton"
                        data-ng-click="removeWheelchairFromOrder($index)"
                        data-ng-if="wInOrder[$index] === true">
                  Remove From Cart
                </button>
              </div>
            </div>
            < Detail Tables >
            <div data-ng-show="curDetailPanel == $index">
              <br/>
              <table class="detailTable">
                <thead>
                <tr>
                  <td>Part</td>
                  <td>Option Chosen</td>
                  <td>Color</td>
                  <td>Price</td>
                  <td>Weight</td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="p in w.getParts()">
                  <td>{{getPartDetails(w, p).partName}}</td>
                  <td>{{getPartDetails(w, p).optionName}}</td>
                  <td>{{getPartDetails(w, p).colorName}}</td>
                  <td>{{getPartDetails(w, p).priceString}}</td>
                  <td>{{getPartDetails(w, p).weightString}}</td>
                </tr>
                </tbody>
              </table>
              <br/>
              <table class="detailTable">
                <thead>
                <tr>
                  <td>Measurement</td>
                  <td>Selection</td>
                  <td>Price</td>
                  <td>Weight</td>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="m in w.getMeasures()">
                  <td>{{getMeasureDetails(w, m).name}}</td>
                  <td>{{getMeasureDetails(w, m).optionString}}</td>
                  <td>{{getMeasureDetails(w, m).priceString}}</td>
                  <td>{{getMeasureDetails(w, m).weightString}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    -->
  </div>


  <!-- Sidebar -->
  <div class="cartSidebar">
    <div class="cartSidebarHeading"><strong>SUMMARY</strong></div>
    <table class="cartSidebarSubtotals">
      <tbody>
      <tr>
        <td class="cartSidebarLabel">Subtotal:</td>
        <td class="cartSidebarValue">${{costs.subtotal.toFixed(2)}}</td>
      </tr>
      <tr>
        <td class="cartSidebarLabel">Estimated Shipping:</td>
        <td class="cartSidebarValue">${{costs.shipping.toFixed(2)}}</td>
      </tr>
      <tr>
        <td class="cartSidebarLabel">Tax:</td>
        <td class="cartSidebarValue">${{costs.tax.toFixed(2)}}</td>
      </tr>
      </tbody>
      <tfoot class="cartSidebarTotal">
      <tr>
        <td class="cartSidebarLabel">Total:</td>
        <td class="cartSidebarValue">${{costs.total.toFixed(2)}}</td>
      </tr>
      </tfoot>
    </table>
    <div class="text-center">
      <button class="checkoutButton"
              data-ng-class="{ 'inactive' : !validCart() }"
              data-ng-click="checkOut()">Check Out
      </button>
    </div>
  </div>

</div>
