<link href="../../styles/checkout/cart.css" rel="stylesheet"/>


<div class="appBody">

  <div class="text-center cartBody" ng-class="{'appBodyOverflow': imageDisplay1 }">
    <!-- Heading -->
    <div class="cartHeading">
      <h3><strong>MY DESIGNS</strong></h3>
    </div>

    <!--comparison table main problem-->
    <div id="mainContent">
      <!-- ng-repeat="wheelchair in wheelchairs"-->
      <div ng-repeat="w in wheelchairs" id="comparisonImages">
        <p><h4><strong data-ng-bind="w.getTitle()"></strong></h4></p>
        <img ng-mouseover="editPanelShow = true" ng-mouseleave="editPanelShow = false"
             data-ng-src="images/mainpic.png" width="185">
        <table ng-show="editPanelShow === true"
               ng-mouseover="editPanelShow = true" ng-mouseleave="editPanelShow = false">
          <tr>
            <td ng-click="toggleImageDisplay()"><img data-ng-src="images/my_design_page/zoom_in.png" width="20"></td>
            <td data-ng-click="editWheelchair($index)"><strong>Edit</strong></td>
            <td data-ng-click="deleteWheelchair($index)"><img data-ng-src="images/my_design_page/delete.png" width="20">
            </td>
          </tr>
        </table>
        <div class="addButton"
             data-ng-click="addWheelchairToOrder($index)"
             data-ng-if="wInOrder[$index] === false"
             data-ng-class="{'inactive': w.allMeasuresSet() === false }">ADD TO CART
        </div>
        <div class="removeButton"
             data-ng-click="removeWheelchairFromOrder($index)"
             data-ng-if="wInOrder[$index] === true">
          REMOVE FROM CART
        </div>
      </div>

      <div class="addWheelchair">
        <a ng-href="#/frame">
          <div>
            <img data-ng-src="images/my_design_page/add_icon.png">
            <div><h5>Add another Wheelchair</h5></div>
          </div>
        </a>
        <a ng-href="#/frame">
          <div>
            <img data-ng-src="images/my_design_page/add_icon.png">
            <div><h5>Add another Wheelchair</h5></div>
          </div>
        </a>
        <a ng-href="#/frame">
          <div>
            <img data-ng-src="images/my_design_page/add_icon.png">
            <div><h5>Add another Wheelchair</h5></div>
          </div>
        </a>
      </div>
    </div>




    <!--detail part table-->


    <table ng-if="wheelchairs.length > 0">
      <tr class="price-weight-row">
        <td class="title-column">
          <p>Price</p>
        </td>
        <td class="value-column" ng-repeat="wheelchair in wheelchairs">
          <p>$<span data-ng-bind="wheelchair.getTotalPrice()"></span></p>
        </td>
        <td class="value-column" ng-repeat="space in emptyCols"></td>
      </tr>
      <tr class="price-weight-row">
        <td class="title-column">
          <p>Weight</p>
        </td>
        <td class="value-column" ng-repeat="wheelchair in wheelchairs">
          <p data-ng-bind="getWeightString(wheelchair)"></p>
        </td>
        <td class="value-column" ng-repeat="space in emptyCols"></td>
      </tr>
    </table>
    <table class="parts-table" data-ng-init="hoverItem = {index: -1, name: ''}" ng-if="wheelchairs.length > 0">
      <tr class="part-row" ng-repeat="part in parts">
        <td class="title-column">
          <p data-ng-bind="part.getName()"></p>
        </td>
        <td class="value-column hover-column" ng-repeat="wheelchair in wheelchairs"
            data-ng-mouseenter="hoverItem.index = $index; hoverItem.name = part.getName()"
            data-ng-mouseleave="hoverItem.index=-1; hoverItem.name=''">
          <div class="option-desc" data-ng-if="hoverItem.index === $index && hoverItem.name === part.getName()">
            <p class="option-desc-head" data-ng-bind="getPartOption(wheelchair, part)"></p>
            <p><span data-ng-bind="getPartDetails(wheelchair, part).priceString"></span> | <span data-ng-bind="getPartDetails(wheelchair, part).weightString"></span></p>
          </div>
          <p data-ng-bind="getPartOption(wheelchair, part)"
             data-ng-if="hoverItem.index !== $index || hoverItem.name !== part.getName()"></p>
        </td>
        <td class="value-column" ng-repeat="space in emptyCols"></td>
      </tr>
    </table>
  </div>


  <!-- Sidebar -->
  <div class="cartSidebar">
    <div class="cartSidebarHeading"><strong>CART</strong></div>
    <div id="scroll-order">
      <ol>
        <li class="order-list-element" ng-repeat="wheelchair in orderChairs">
          <div class="order-block">
            <img class="order-img" data-ng-src="images/mainpic.png" width="250">
            <h4><strong data-ng-bind="wheelchair.getTitle()"></strong></h4>
          </div>
        </li>
      </ol>
    </div>
    <table class="cartSidebarSubtotals">
      <tbody>
      <tr>
        <td class="cartSidebarLabel">Subtotal:</td>
        <td class="cartSidebarValue">$<span data-ng-bind="costs.subtotal.toFixed(2)"></span></td>
      </tr>
      <tr>
        <td class="cartSidebarLabel">Estimated Shipping:</td>
        <td class="cartSidebarValue">$<span data-ng-bind="costs.shipping.toFixed(2)"></span></td>
      </tr>
      <tr>
        <td class="cartSidebarLabel">Tax:</td>
        <td class="cartSidebarValue">$<span data-ng-bind="costs.tax.toFixed(2)"></span></td>
      </tr>
      </tbody>
      <tfoot class="cartSidebarTotal">
      <tr>
        <td class="cartSidebarLabel">Total:</td>
        <td class="cartSidebarValue">$<span data-ng-bind="costs.total.toFixed(2)"></span></td>
      </tr>
      </tfoot>
    </table>
    <div class="text-center button-div">
      <div class="button medium"
              data-ng-class="{ 'inactive' : !validCart() }"
              data-ng-click="checkOut()">Check Out
      </div>
    </div>
  </div>


  <div ng-show="imageDisplay1" id="displayImage">
    <div id="offClickArea" ng-show="imageDisplay1" data-ng-click="toggleImageDisplay()"></div>
    <div class="mainDisplay">
      <div id="designTitle"><h3>DESIGN FOR BRIAN</h3></div>
      <img class="leftButton" src="images/icons/left_button.svg" alt="Previous" width="30" height="30"
           data-ng-click=""/>
      <img class="rightButton" src="images/icons/right_button.svg" alt="Next" width="30" height="30"
           data-ng-click=""/>
      <img data-ng-src="images/mainpic.png" height="90%">
    </div>
  </div>

</div>
