<link href="../../styles/checkout/cart.css" rel="stylesheet"/>

<div class="appBody">

  <div class="text-center cartBody" ng-class="{'appBodyOverflow': imageDisplay1 >= 0 }">
    <!-- Heading -->
    <div class="cartHeading">
      <h3><strong>MY DESIGNS</strong></h3>
    </div>

    <!--comparison table main problem-->
    <div id="mainContent" ng-if="wheelchairs.length > 0">
      <!-- ng-repeat="wheelchair in wheelchairs"-->

      <div ng-repeat="w in wheelchairs" class="comparisonImages">


          <input placeholder="Wheelchair Name" data-ng-if="edit !== true" class="wheelchair_name_input" ng-model="w.title" ng-value="w.title"></input><br>

        <canvas my-canvas img_arr={{w.getPreviewImages(3)}} ng-mouseover="editPanelShow = true"
                ng-mouseleave="editPanelShow = false"
                ng-click="toggleImageDisplay($index)"
                width="187"></canvas>
        <table ng-show="editPanelShow === true"
               ng-mouseover="editPanelShow = true" ng-mouseleave="editPanelShow = false">
          <tr>
            <td ng-click="toggleImageDisplay($index)"><img data-ng-src="images/my_design_page/zoom_in.png" width="20"></td>
            <td data-ng-click="editWheelchair($index)"><strong>Edit</strong></td>
            <td data-ng-click="deleteWheelchair($index)"><img data-ng-src="images/my_design_page/delete.png" width="20">
            </td>
          </tr>
        </table>
        <div class="addButton"
             data-ng-click="addWheelchairToOrder($index)"
             data-ng-if="wInOrder[$index] === false"
             data-ng-class="{'inactive': w.allMeasuresSet() === false }">Add to cart
        </div>
        <div class="removeButton"
             data-ng-click="removeWheelchairFromOrder($index)"
             data-ng-if="wInOrder[$index] === true">
          Remove from cart
        </div>
      </div>


      <a ng-show="wheelchairs.length < 2" class="add-chair" data-ng-mouseenter="hoverImage = 'add_icon_hover'"
         data-ng-mouseleave="hoverImage = 'add_icon'" ng-href="#/frames">
        <img class="add-icon" data-ng-src="images/my_design_page/{{hoverImage}}.png">
        <span class="medium">Add a Wheelchair</span>
      </a>

      <a ng-show="wheelchairs.length < 3" class="add-chair" data-ng-mouseenter="hoverImage = 'add_icon_hover'"
         data-ng-mouseleave="hoverImage = 'add_icon'" ng-href="#/frames">
        <img class="add-icon" data-ng-src="images/my_design_page/{{hoverImage}}.png">
        <span class="medium">Add a Wheelchair</span>
      </a>
    </div>

    <div class="empty-designs" ng-if="wheelchairs.length === 0">
      <p>You currently do not have any saved design</p>
      <a class="add-chair" data-ng-mouseenter="hoverImage = 'add_icon_hover'"
         data-ng-mouseleave="hoverImage = 'add_icon'" ng-href="#/frames">
        <img class="add-icon" data-ng-src="images/my_design_page/{{hoverImage}}.png">
        <span class="medium">Add a Wheelchair</span>
      </a>
    </div>


    <!--detail part table-->


    <table ng-if="wheelchairs.length > 0">
      <tr class="price-weight-row">
        <td class="title-column">
          <p>Price</p>
        </td>
        <td class="value-column" ng-repeat="wheelchair in wheelchairs">
          <p>$<span data-ng-bind="wheelchair.getTotalPrice().toFixed(2)"></span></p>
        </td>
        <td class="value-column" ng-repeat="space in emptyCols"></td>
      </tr>
      <tr class="price-weight-row">
        <td class="title-column">
          <p>Weight</p>
        </td>
        <td class="value-column" ng-repeat="wheelchair in wheelchairs">
          <p data-ng-bind="getWeightString(wheelchair)"></p>
        </td>
        <td class="value-column" ng-repeat="space in emptyCols"></td>
      </tr>
    </table>
    <table class="parts-table" data-ng-init="hoverItem = {index: -1, name: ''}" ng-if="wheelchairs.length > 0">
      <tr class="part-row" ng-repeat="part in parts">
        <td class="title-column">
          <img data-ng-src="{{part.getIconImage()}}" width="30"/>
          <p  data-ng-bind="part.getName()"></p>
        </td>
        <td class="value-column hover-column" ng-repeat="wheelchair in wheelchairs"
            data-ng-mouseenter="hoverItem.index = $index; hoverItem.name = part.getName()"
            data-ng-mouseleave="hoverItem.index=-1; hoverItem.name=''">
          <div class="option-desc" data-ng-if="hoverItem.index === $index && hoverItem.name === part.getName()">
            <p class="option-desc-head" data-ng-bind="getPartOption(wheelchair, part)"></p>

            <p><span data-ng-bind="getPartDetails(wheelchair, part).priceString"></span> | <span
              data-ng-bind="getPartDetails(wheelchair, part).weightString"></span></p>
          </div>
          <p data-ng-bind="getPartOption(wheelchair, part)"
             data-ng-if="hoverItem.index !== $index || hoverItem.name !== part.getName()"></p>
        </td>
        <td class="value-column" ng-repeat="space in emptyCols"></td>
      </tr>
    </table>
  </div>


  <!-- Sidebar -->
  <div class="cartSidebar">
    <div class="cartSidebarHeading"><strong>CART</strong></div>
    <div id="scroll-order">
      <ol>
        <li class="order-list-element" ng-repeat="wheelchair in orderChairs">
          <div class="order-block">
            <h3>{{$index+1}}</h3>
            <canvas my-canvas img_arr={{wheelchair.getPreviewImages(3)}}
                    class="order-img"
                    width="200"></canvas>
            <h4><strong data-ng-bind="wheelchair.getTitle()"></strong></h4>
          </div>
        </li>
      </ol>
      <div data-ng-if="orderChairs.length === 0">
        <img class="add-icon" data-ng-src="images/my_design_page/cart_empty.png">
        <span class="medium">Your cart is currently empty</span>
      </div>
    </div>
    <table class="cartSidebarSubtotals">
      <tbody>
      <tr>
        <td class="cartSidebarLabel">Subtotal:</td>
        <td class="cartSidebarValue">$<span data-ng-bind="costs.subtotal.toFixed(2)"></span></td>
      </tr>
      <tr>
        <td class="cartSidebarLabel">Estimated Shipping:</td>
        <td class="cartSidebarValue">$<span data-ng-bind="costs.shipping.toFixed(2)"></span></td>
      </tr>
      <tr>
        <td class="cartSidebarLabel">Tax:</td>
        <td class="cartSidebarValue">$<span data-ng-bind="costs.tax.toFixed(2)"></span></td>
      </tr>
      </tbody>
      <tfoot class="cartSidebarTotal">
      <tr>
        <td class="cartSidebarLabel">Total:</td>
        <td class="cartSidebarValue">$<span data-ng-bind="costs.total"></span></td>
      </tr>
      <tr>
        <td class="cartSidebarLabel">30% Down payment (optional) </td>
        <td class="cartSidebarValue verticalTop" >${{(costs.total * 0.3).toFixed(2)}}</td>
      </tr>
      </tfoot>
    </table>
    <div class="text-center button-div">
      <div class="button medium checkoutButton"
           data-ng-class="{ 'inactive' : !validCart() }"
           data-ng-click="checkOut()">Check Out
      </div>
    </div>
  </div>


  <div ng-repeat="w in wheelchairs" ng-if="imageDisplay1 == $index" id="displayImage">
    <div id="offClickArea" ng-show="imageDisplay1 >= 0" data-ng-click="toggleImageDisplay(-1)"></div>
    <div class="mainDisplay">
      <div id="designTitle"><h3 data-ng-bind="w.getTitle()"></h3></div>
      <img class="leftButton" src="images/icons/left_button.svg" alt="Previous" width="30" height="30"
           ng-show="wheelchairs.length > 1"
           data-ng-click="rotate(-1)"/>
      <img class="rightButton" src="images/icons/right_button.svg" alt="Next" width="30" height="30"
           ng-show="wheelchairs.length > 1"
           data-ng-click="rotate(1)"/>
      <canvas my-canvas img_arr="{{w.getPreviewImages(3)}}"
              width="518" height="400"></canvas>
    </div>
  </div>

</div>
