<link href="../../styles/checkout/checkout.css" rel="stylesheet" />


<div class="checkout text-center">
  <div class="checkout-header">

    <h2 class="bold">CHECK OUT</h2>
    <!-- TODO: restore shopping cart data after go back-->
  </div>
  <div class="checkout-body">
    <div class="checkout-left">
      <div class="checkout-well">
        <div class="checkout-well-title book">Log In</div>
        <div class="checkout-well-label book">Email Address</div>
        <input type="email" data-ng-model="loginForm.email" />
        <div class="checkout-well-label book">Password</div>
        <input type="password" data-ng-model="loginForm.pass" />
        <!--<div class="checkout-well-extras">-->
          <!--<div class="checkout-well-pass book"-->
               <!--data-ng-click="recoverPassword()">Forgot your Password?</div>-->
          <!--<div class="checkout-well-reg book"-->
               <!--data-ng-click="register()">REGISTER >></div>-->
        <!--</div>-->
        <div class="checkout-button button medium"
             data-ng-click="loginAsUser()">
          Let's Go
        </div>
      </div>
    </div>
    <div class="checkout-right">
      <div class="checkout-well">
        <div class="checkout-well-title book">Guest Check Out</div>
        <div id="otc">
          <p class="book">This option is perfect for one time checkout!</p>
        </div>
        <div class="checkout-button button medium"
             data-ng-click="register()">
          Register an Account
        </div>
        <div class="checkout-button button medium"
             data-ng-click="loginAsGuest()">
          Let's Go
        </div>
      </div>
    </div>
  </div>
</div>

