<link href="../../styles/checkout/invoice.css" rel="stylesheet" />

<div class="wrapper">
  <table>
    <tr class="topEntity detail">
      <td> img</td>
      <td>60 Hazelwood Dr. <br> Suite 110<br> Champaign, IL, 61820</td>
      <td>phone: (217) 903-4563 <br> Fax: (217) 332-1560 <br> www.intelliwheels.net </td>
    </tr>
    <tr class="topEntity detail">
      <td> <h1><strong>INVOICE</strong></h1></td>
      <td>BILL TO: <br> Scott Daigle<br> Unicorn Worldwide, Inc. <br> 1701 Crossroads Dr. <br> Joliet, Mars, 99999</td>
      <td>SHIP TO: <br> Intelliwheels, Inc. <br> Suite 110 <br>Champaign, IL, 61820</td>
    </tr>
    <tr class="topEntity detail">
      <td> <strong>Purchase Date:<br>Terms:<br>F.O.B<br>Ship Via:</strong></td>
      <td>Dec. 19, 2012<br>Net 30<br>Champaign, IL<br>Best</td>
      <td>
        The following number must appear on all invoices, bills of landing, and acknowledgements relating to this purchase order:<br><br>
        <span><h2>PURCHASE ORDER: 2000</h2></span>
      </td>
    </tr>
    <tr >
      <td>Part</td>
      <td>Option Chosen</td>
      <td>Color</td>
    </tr>
    <tr  data-ng-repeat="p in wheelchairs[0].parts">
      <td><strong>{{getPartDetails(p).partName}}</strong></td>
      <td>{{getPartDetails(p).optionName}}</td>
      <td>{{getPartDetails(p).colorName}}</td>
      <td>{{getPartDetails(p).priceString}}</td>
    </tr>
    <tr class="detail" data-ng-repeat="m in wheelchairs[0].measures">
      <td><strong>{{getMeasureDetails(m).name}}</strong></td>
      <td>{{getMeasureDetails(m).option}}</td>
      <td>{{getMeasureDetails(m).price}}</td>
    </tr>
    <tr>
      <td>Sales tax rate: 8.7%</td>
      <td>Shipping: <span>${{wheelchairs[0].calcPrice.toFixed(2)}}</span></td>
    </tr>
    <tr>
      <td>Tax: <span>${{wheelchairs[0].calcPrice.toFixed(2)*0.087}}</span></td>
    </tr>
    <tr>
      <td>other: </td>
      <td>$0</td>
    </tr>
    <tr class="detail">
      <td >TOTAL:</td>
      <td>$1358.01</td>
    </tr>
  </table>
</div>
