<link href="../../styles/checkout/order.css" rel="stylesheet" />


<div class="purchase_pending_fade"></div>
<div class="purchase_pending_alertBox">Your order is being processed..</div>
<div class="order text-center">
  <!--HEADER-->
  <div class="order-header">
    <h2 class="medium" data-ng-bind="display[curStage].title"></h2>
  </div>

  <!--BODY-->
  <div class="order-body">


    <!--MAIN-->

    <!--MAIN-INFO-->
    <div class="order-left" data-ng-if="curStage === stages.INFO">
      <div class="order-form">
        <div class="order-form-header">Contact Information</div>
        <div class="order-form-label"><strong>First Name</strong></div>
        <input class="text-input" type="text" data-ng-model="contactForm.fName" />
        <div class="order-form-label"><strong>Last Name</strong></div>
        <input class="text-input" type="text" data-ng-model="contactForm.lName" />
        <div class="order-form-label"><strong>Email Address</strong></div>
        <input class="text-input" type="email" data-ng-model="contactForm.email" />
        <div class="order-form-label"><strong>Phone Number</strong></div>
        <input class="text-input" type="text" data-ng-model="contactForm.phone" />
      </div>
      <div class="order-form">
        <div class="order-form-header">Shipping Address</div>
        <div class="order-form-label"><strong>Street Address</strong></div>
        <input class="text-input" type="text" data-ng-model="shippingForm.addr" />
        <div class="order-form-label"><strong>Street Address 2</strong></div>
        <input class="text-input" type="text" data-ng-model="shippingForm.addr2" />
        <div class="order-form-label"><strong>City</strong></div>
        <input class="text-input" type="text" data-ng-model="shippingForm.city" />
        <div class="order-form-label"><strong>State</strong></div>
        <input class="text-input" type="text" data-ng-model="shippingForm.state" />
        <div class="order-form-label"><strong>Zipcode</strong></div>
        <input class="text-input" type="text" data-ng-model="shippingForm.zip" />
      </div>
    </div>

    <!--MAIN-PAYMENT-->
    <div class="order-left" data-ng-if="curStage === stages.PAYMENT">
      <div class="order-form payment">
        <div class="order-form-header">Choose your payment method</div>
        <div class="paymentWindow">
          <div class="paymentMethod">
            <input class="paymentOption" type="radio" data-ng-model="payForm.method" data-ng-value="payMethods.PAYPAL"/>
            <strong>Pay by Credit Card</strong>
            <div >
              <form  data-ng-show="payForm.method===payMethods.PAYPAL">
                <span class="payment-errors" data-ng-bind="payment_errors"></span>
                <div class="form-row">
                  <label>
                    <span>Card Number<br></span>
                    <input type="text" size="20" data-ng-model="card.number"/>
                  </label>
                </div>
                <div class="form-row">
                  <label>
                    <span>CVC</span>
                    <input type="text" size="4" data-ng-model="card.cvc"/>
                  </label>
                </div>
                <div class="form-row">
                  <label>
                    <span>Expiration (MM/YYYY)<br></span>
                    <input type="text" size="2" data-ng-model="card.exp_month"/>
                    <span> / </span>
                    <input type="text" size="4" data-ng-model="card.exp_year"/>
                  </label>
                <div id="paymentInfo" >
                  30% will be charged to your credit card now . When your chair is ready to be shipped, you will be
                 contacted to pay the other 70%
                </div>

                </div>
              </form>
            </div>
          </div>
          <div class="paymentMethod">
            <input class="paymentOption" type="radio" data-ng-model="payForm.method" data-ng-value="payMethods.ADVANCE"/>
            <strong>Bill by Insurance</strong>
            <div data-ng-show="payForm.method === payMethods.ADVANCE">
              Customer representative from Tiarrow will be in touch with you shortly
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--MAIN-CONFIRM-->
    <div class="order-left" data-ng-if="curStage === stages.CONFIRM">
      <div class="order-form">
        <div class="order-form-header">Contact Information</div>
        <table class="order-form-table">
          <tbody>
            <tr>
              <td><strong>First Name</strong></td>
              <td data-ng-bind="contactForm.fName"></td>
            </tr>
            <tr>
              <td><strong>Last Name</strong></td>
              <td data-ng-bind="contactForm.lName"></td>
            </tr>
            <tr>
              <td><strong>Email</strong></td>
              <td data-ng-bind="contactForm.email"></td>
            </tr>
            <tr>
              <td><strong>Phone Number</strong></td>
              <td data-ng-bind="contactForm.phone"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="order-form">
        <div class="order-form-header">Shipping Address</div>
        <table class="order-form-table">
          <tbody>
            <tr>
              <td><strong>Street Address</strong></td>
              <td data-ng-bind="shippingForm.addr"></td>
            </tr>
            <tr>
              <td><strong>Street Address 2</strong></td>
              <td data-ng-bind="shippingForm.addr2"></td>
            </tr>
            <tr>
              <td><strong>City</strong></td>
              <td data-ng-bind="shippingForm.city"></td>
            </tr>
            <tr>
              <td><strong>State</strong></td>
              <td data-ng-bind="shippingForm.state"></td>
            </tr>
            <tr>
              <td><strong>Zipcode</strong></td>
              <td data-ng-bind="shippingForm.zip"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="order-form">
        <div class="order-form-header">Wheelchair Details</div>
        <table class="order-form-table">
          <tbody class="table-section" data-ng-repeat="w in wheelchairs">
            <tr class="table-seperator"></tr>
            <tr class="table-title-row">
              <td style="font-size: 20px"><strong data-ng-bind="w.getTitle()"></strong></td>
              <td data-ng-bind="getFrame(w.getFrameID()).getName()"></td>
              <td style="text-align:right;">$<span data-ng-bind="getFrame(w.getFrameID()).getBasePrice().toFixed(2)"></span></td>
            </tr>
            <tr data-ng-repeat="p in w.parts">
              <td><strong data-ng-bind="getPartDetails(w, p).partName"></strong></td>
              <td><span data-ng-bind="getPartDetails(w, p).optionName"></span> <small style="color:#808080; font-size:10px;" data-ng-bind="getPartDetails(w, p).colorName"></small></td>
              <td style="text-align:right;" data-ng-bind="getPartDetails(w, p).priceString"></td>
            </tr>
            <tr data-ng-repeat="m in w.measures">
              <td><strong data-ng-bind="getMeasureDetails(w, m).name"></strong></td>
              <td data-ng-bind="getMeasureDetails(w, m).optionString"></td>
              <td style="text-align:right;" data-ng-bind="getMeasureDetails(w, m).priceString"></td>
            </tr>
            <tr class="table-price-row">
              <td></td>
              <td></td>
              <td style="text-align:right;"><strong>$<span data-ng-bind="w.getTotalPrice().toFixed(2)"></span></strong></td>
            </tr>
          </tbody>
          <tfoot>
            <tr class="table-seperator"></tr>
            <tr>
              <td><strong>Subtotal</strong></td>
              <td></td>
              <td style="text-align:right;"><strong>$<span data-ng-bind="curOrder.getSubtotal().toFixed(2)"></span></strong></td>
            </tr>
            <tr>
              <td><strong>Shipping Fee</strong></td>
              <td></td>
              <td style="text-align:right;"><strong>$<span data-ng-bind="curOrder.getShippingCost().toFixed(2)"></span></strong></td>
            </tr>
            <tr>
              <td><strong>Tax</strong></td>
              <td></td>
              <td style="text-align:right;"><strong>$<span data-ng-bind="curOrder.getTaxCost().toFixed(2)"></span></strong></td>
            </tr>
            <tr style="border-top:solid 1px #DDDDDD;">
              <td><strong>Total</strong></td>
              <td></td>
              <td style="text-align:right;"><strong>$<span data-ng-bind="curOrder.getTotalCost().toFixed(2)"></span></strong></td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="order-form">
        <div class="order-form-header">Terms & Conditions</div>
        <div class="order-form-label">You must agree to Abacus Terms and Conditions before completing your order:</div>
        <div class="order-form-well" data-ng-bind-html="termsAndConditionsHTML" />
        <input type="checkbox" data-ng-model="termsForm.hasReadTerms" />
        <strong>I have read and agree to the Terms and Conditions</strong>
      </div>
    </div>

    <!--MAIN-COMPLETE-->
    <div class="order-left" data-ng-if="curStage === stages.COMPLETE">
      <div class="order-form">
        <div class="order-form-label"><strong>Your order number is: <span data-ng-bind="orderNum"></span></strong></div>
        <br />
        <div class="order-form-label">Thank you for your order!</div>
        <div class="order-form-label">Your order has been sent to the manufacturer.</div>
        <div class="order-form-label">You will receive an invoice email shortly.</div>
      </div>
    </div>


    <!--SIDEBAR-->
    <div class="order-right">
      <div class="progress-bar-label book">
        <span data-ng-style="(curStage === stages.INFO) && {'color':'#000'}">1 </span>
        <span data-ng-style="(curStage === stages.PAYMENT) && {'color':'#000'}">2 </span>
        <span data-ng-style="(curStage === stages.CONFIRM) && {'color':'#000'}">3 </span>
        <span data-ng-style="(curStage === stages.COMPLETE) && {'color':'#000'}">4</span>
      </div>
      <div class="order-progressbar">
        <div class="progress">
          <div class="progress-bar" role="progressbar"
               aria-valuenow="{{25 * (curStage+1)}}" aria-valuemin="0" aria-valuemax="100"
               data-ng-style="{'width': (25*(curStage+1)) + '%' }">
          </div>
        </div>
        <img width="28" height="auto" src="images/checkout/progress_bar_image.png"
             data-ng-style="{'left': 23+(71*curStage) + 'px' }">
      </div>
      <div class="progress-bar-label-text book">
        <span data-ng-style="(curStage === stages.INFO) && {'color':'#000'}">info</span>
        <span data-ng-style="(curStage === stages.PAYMENT) && {'color':'#000'}">payment</span>
        <span data-ng-style="(curStage === stages.CONFIRM) && {'color':'#000'}">confirm</span>
        <span data-ng-style="(curStage === stages.COMPLETE) && {'color':'#000'}">complete</span>
      </div>
      <div class="order-buttonrow">
        <div class="order-button order-button-light medium"
             data-ng-if="curStage !== stages.COMPLETE"
             data-ng-click="back()">&lt GO BACK</div>
        <div class="order-button medium"
             data-ng-style="(curStage === stages.COMPLETE) && {'width': '80%'}"
             data-ng-click="next()" data-ng-bind="display[curStage].button"
              data-ng-if="curStage !== stages.COMPLETE || loggedIn"></div>
        <div class="order-button medium"
             data-ng-show="curStage === stages.COMPLETE && !loggedIn"
             data-ng-style="(curStage === stages.COMPLETE) && {'width': '80%'}"
             data-ng-click="register()">Register</div>
      </div>
    </div>
  </div>
</div>
