<link href="../../styles/checkout/payment.css" rel="stylesheet" />

<div class="info text-center">
  <div class="info-header">
    <h2><strong>PAYMENT</strong></h2>
    <h5 data-ng-click="returnToCart()"><< Go Back to Shopping Cart</h5>
  </div>
  <div class="info-body">
    <div class="info-left">
      <div class="info-form">
        <div class="info-form-header">Choose a payment method</div>
        <input type="radio" data-ng-model="payment.paypal"/>
        <p>paypal</p>
        <input type="radio" data-ng-click="displayToggle()"/>
        <p>paypal</p>

      </div>
    </div>
    <div class="info-right">
      <div class="progress-bar-label">
        <span style="color: #000;">1</span> 2 3 4
      </div>
      <div class="info-progressbar">
        <div class="progress">
          <div class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
            <span class="sr-only">60% Complete</span>
          </div>
        </div>
        <img width="28" height="auto" src="images/checkout/progress_bar_image.png">
      </div>
      <div class="progress-bar-label-text"><span style="color: #000;">info</span> payment confirm complete</div>
      <div class="info-buttonrow">
        <div class="info-button info-button-light"
             data-ng-click="back()"><strong>< GO BACK</strong></div>
        <div class="info-button"
             data-ng-click="next()"><strong>CONFIRM ></strong></div>
      </div>
    </div>
  </div>
</div>
