<link href="styles/forgot.css" rel="stylesheet" />
<div class="forgot" ng-init="checkResetPasswordToken()">
	<h2>Password reset</h2>
	<p>Use the form below to reset your password.</p>
	<div class="pw-inputs-wrapper">
		<form name="form.setPassword" class="pw-inputs">
		 	<label for="email" class="book">Email
		 	  <span ng-show="emptyField.email" class="glyphicon glyphicon-asterisk"></span></label><br>
			<input ng-model="params.email" id="email" class="form-control" name="email" validate-email required type="email" placeholder="Enter Email">
			<label for="pw" class="book">Password
			  <span ng-show="emptyField.password" class="glyphicon glyphicon-asterisk"></span></label><br>
		    <input type="password" ng-model="params.password" name="password" equals="{{params.passwordConfirm}}" id="pw" placeholder="Enter new password" class="form-control" required minlength="8">
			<label for="pw-confirm" class="book">Password (confirm)
			  <span ng-show="emptyField.passwordConfirm" class="glyphicon glyphicon-asterisk"></span></label><br>
		    <input type="password" id="pw-confirm" ng-model="params.passwordConfirm" equals="{{params.password}}" name="passwordConfirm" placeholder="Confirm new password" class="form-control login-field" required minlength="8">
		</form>
		<div class="pw-confirm">
			<button ng-disabled="passChangedReq" ng-click="changePassword(form.setPassword)" type="button" class="button1">Reset password</button>
		</div>
	</div>
	<div class="success-mesg" data-ng-bind="success"></div>
	<div class="error-mesg" data-ng-bind="error"></div>
</div>