<link rel='stylesheet'  href="../../styles/invoice.css" rel="stylesheet"/>


<div id="wrapper">
  <header class="">
    <h2>Parts</h2>
  </header>

  <body>

    <section class="title">
      <div class="parts">PARTS</div>
      <div class="details">DETAILS</div>
      <div class="price">PRICE</div>
    </section>
    <div ng-repeat="">
      <section class="optionTable">
        <div class="parts themeBlue">Frame Style</div>
        <div class="details">Titanium - Unpainted<span class="colorInfo">color</span> 26 inch</div>
        <div class="price">$1234</div>
      </section>
      <section class="comments">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis elementum ex, a convallis odio.
          Nullam tincidunt sem eu erat aliquam, non porta nibh imperdiet. Aenean rutrum quam sit amet</p>
      </section>
    </div>
  </body>
</div>
