<link rel='stylesheet'  href="../../styles/invoice.css" rel="stylesheet"/>

<div id="wrapper">
  <header>
    <h2>Measurement</h2>
  </header>

  <body>
    <section>
    </section>

    <section class="title">
      <div class="mParts">PARTS</div>
      <div class="mInput">MEASUREMENT</div>
    </section>

    <div ng-repeat="">
      <section class="optionTable">
        <div class="mParts themeBlue">A. Seat Width</div>
        <div class="mInput"> 13.8in (35cm)</div>
      </section>
      <section class="comments">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque quis elementum ex, a convallis odio.
          Nullam tincidunt sem eu erat aliquam, non porta nibh imperdiet. Aenean rutrum quam sit amet</p>
      </section>
    </div>
  </body>
</div>
