/******login panel*********/
#saveAction .actionPanel{
  margin: auto;
  position: absolute;
  top: calc(50vh - 150px);
  left: calc(50vw - 350px);
  width: 700px;
  background-color: white;
  z-index: 3;
  height: 168px;
}

#saveAction .actionPanel>span{
  position: absolute;
  top: 43%;
  left: 20px;
  font-size: 1.4em;
}

#saveAction .actionPanel>span:hover{
  cursor: pointer;
}

.actionPanel .article{
  margin-top: 20px;
}

#saveAction .actionPanel .loginAction{
  width: auto;
}

#saveAction .actionPanel .loginAction input{
  margin-right: 10px;
  height: 30px;
}

.center{
  display: flex;
  justify-content: center;
}

#saveAction .actionPanel .loginAction h5{
  position: relative;
  left: 10px;
  bottom: 3px;
  text-decoration: underline;
}

#saveAction .errorMessage{
  color: lightsalmon;
  position: relative;
  bottom: 24px;
  font-size: 0.9em;
}

#saveAction .closeTab{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
}

#saveAction .closeTab:hover{
  cursor: pointer;
}

/*register panel*/
#saveAction .registerPanel{
  height: auto;
  top: 3vh;
}