.tbd-header {
	text-align: center;
	margin-top: 5px;
}

.tbd-text {
	margin-bottom: 20px;
}

.hint-text{
  color: #444444;
}

.top-section{
  padding-bottom: 10px;
}

.bottom-section{
  padding-top: 10px;
  padding-bottom: 30px;
  border-top: 1px solid #b3b3b3;
}

.enter-button {
	background-color: #4896FF;
	color: white;
	margin-left: 0px;
	border: 1px solid #4896FF;
	border-radius: 0;
	float: right;
}

.enter-button:hover {
	background-color: white;
	color: #4896FF;
	margin-left: 0px;
	border: 1px solid #4896FF;
}

.enter-button:after {
    content: '';
    display: block;
    clear: both;
}

