#wrapper{
  background-color: #F1F1F1;
  overflow: auto;
}

#contentWrapper{
  max-width: 1200px;
  min-width: 800px;
  height: 100vh;
  margin: auto;

}

.button{
  margin-top: 0;
  height: 35px;
}
#mainDisplay{
  width: 700px;
  float: left;
}
#header{
  position: relative;
  height: 80px;
}
.compareButton{
  position: absolute;
  top: 0;
  right: 0;
}


/********* wheelchair content display***/
#mainContent{
  width: 100%;
  display: inline-block;
}

.chairBlock{
  width: 100%;
  background-color:lightblue;
  list-style-type: none;
  padding: 10px 15px;
  margin-right: 20px;
}



.cart-item{
  background-color: white;
}

.media-object{
  width: 30%;
  position: relative;
  display:inline-block;
}

.checkbox-button {
  position: absolute;
  margin-right: 30px ;
  top: 45%;
}

.media-body {
  overflow: visible;
  display: inline-block;
  width: 65%;
  vertical-align: top;
}
.media-body .firstLine{
  margin-bottom: 25px;;
}

.media-body .actions table{
  margin-bottom: 20px;
}
.media-body .actions td{
  padding: 0 15px;
  border-right: 2px solid black;
}

.media-body .actions td:first-of-type{
  padding-left: 0;
}

.moreInfo .clickable-text{
  display: inline-block;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  outline: none;
}

.moreInfo table{
  width: 100%;
}

.moreInfo .title-column{
  color: #939597;
}





/********Summary*******/
#summary{
  width: 300px;
  display: inline-block;
  position: relative;
  top: 71px;
  margin-left: 29px;
}

#summary table{
  background-color: white;
  width: 100%;
  padding: 10px;
}



#summary section{
  background-color: white;
  margin-top: 20px;
  padding: 15px;
}

#summary section:first-of-type{
  overflow: auto;
}

#summary section {
  color: #00A89C;
  text-decoration: underline;
}


#summary section div {
  overflow: auto;
}

#summary section .totalPrice {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 10px;;
}

