/*******font******/
.cart{
  font-family: inherit;
  font-size: 27px;
  position: relative;
  clear: left;
  float: left;
  width: 65%;
}

.oBold{
  font-family: 'oswald-bold';
  font-size: 1em;
}

.oReg{
  font-family: 'oswald-regular';
  font-size: 1em;
}

.gBook{
  font-family: 'gotham-book';
  font-size: 1em;
}


.greyButton{
  background-color: #b4b6b8 !important;
  color: white !important;
  border: none;
}

#background {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 80vh;
  width: 100%;
  z-index: -5000;
  background: -webkit-linear-gradient(#EAEAEA, #FFFFFF);
  background: linear-gradient(#EAEAEA, #FFFFFF);
}

#contentWrapper{
  max-width: 1100px;
  height: 100vh;
  margin: auto;

}

.button{
  margin-top: 0;
  height: 35px;
  background-color: #4896FF;
  color: #FFFFFF;
  border-color: #4896FF;
  border-radius: 0px;
  padding: 0 10px;

}

.button:hover {
  background-color: white;
  border-color: #4896FF;
  color: #4896FF;
}

.disabled:hover {
  background-color: #4896FF;
  color: #fff;
}

#mainDisplay{
  width: 700px;
  float: left;
  margin-top: 30px;
}

#emptyCart{
  position: relative;
  top: 80px;
  margin: auto;
  width: 300px;
}

#emptyCart>p{
  position: relative;
  top: 25px;
  left: 23px;
  font-size: 1.4em;
  color: #4f9dff;
  letter-spacing: -1px;
}

#emptyCart>p:hover{
  cursor: pointer;
  text-decoration: underline;
}

#header{
  position: relative;
  margin: 0 15px 0;
}

#header p{
  font-size: 1.7em;
  letter-spacing: .1em;

}
.compareButton{
  position: absolute;
  top: 0;
  right: 0;
}


/********* wheelchair content display***/
#mainContent{
  width: 100%;
  display: inline-block;
}

.chairBlock{
  width: 100%;
  list-style-type: none;
  padding: 10px 15px;
  margin-right: 20px;
}

.chairBlock .chairTitle{
  width: 100%;
  background-color: darkgrey;
  font-size: 1.1em;
  padding:0 20px;
}

.chairBlock .selectedChair {
  background-color:#4f9dff;
}



.cart-item{
  background-color: white;
  margin-bottom: 20px;
}

.media-object{
  width: 30%;
  position: relative;
  display:inline-block;
}

.checkbox-button {

}

.media-body {
  overflow: visible;
  display: inline-block;
  width: 65%;
  vertical-align: top;
}
.media-body .firstLine{
  margin: 10px 0 58px;
}

.media-body a{
  color: #4f9dff;
}
.media-body .actions table{
  margin-bottom: 20px;
}
.media-body .actions td{
  padding: 0 15px;
  border-right: 2px solid black;
}

.media-body .actions td:last-of-type{
  border-right: none;
}



.media-body .actions td:hover{
  cursor: pointer;
}

.media-body .actions td:first-of-type{
  padding-left: 0;
}

.media-body .moreInfoTitle{
  margin-top: 27px;
  color: #4f9dff;

}

.media-body .moreInfoTitle:hover{
  cursor: pointer;
}


.moreInfoTitle .clickable-text{
  display: inline-block;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  outline: none;
}

.moreInfo table{
  width: 100%;
}

.moreInfo .title-column{
  color: #939597;
}





/********Summary*******/
.summery{
  width: 300px;
  position: relative;
  top: 71px;
  margin:0 29px;
  float: right;
  overflow: visible;
}

@media  (max-width: 1060px) {
  .summery{
    float: left;
    clear: left;
    margin-left: 15px;
    top: 0;
  }
}

.summery table{
  background-color: white;
  width: 100%;
  padding: 10px;
}



.summery>section{
  background-color: white;
  margin-top: 20px;
  padding: 15px;
  overflow: visible;
}

@media  (max-width: 1060px) {
  .summery>section{
    margin-top: 0;
  }
}

.summery>section:first-of-type{
  overflow: auto;
}

.summery section {
  color: black;
}


.summery section div {
  overflow: auto;
}

#userType .dropDown{
  width: 95%;
  border-radius: 0;
  overflow: visible;
}

#userType .dropDown button {
  width: 100%;
  text-align: left;
}

#userType .dropDown .caretShape {
  position: relative;
  top: 9px;
  color: green;
}

#userType>p:hover{
  cursor: pointer;
}

.summery #userType {
  margin: 20px 0 10px;
  color: #4f9dff;
  font-size: 13px;
  overflow: visible;
}

.order-pay .dropDown{
  width: 95%;
  border-radius: 0;
  overflow: visible;
}

.order-pay .dropDown button {
  width: 100%;
  text-align: left;
}

.dropDown .dropdown-menu a{
  padding: 2px 20px;
  cursor: pointer;
  white-space: normal;
}

.order-pay .dropDown .caretShape {
  position: relative;
  top: 9px;
  color: green;
}

.order-pay>p:hover{
  cursor: pointer;
}


.summery .order-pay {
  margin: 0px 0 10px;
  color: #4f9dff;
  font-size: 13px;
  overflow: visible;
}

.cleanDiscount {
  text-decoration: underline;
}

.cleanDiscount:hover {
  cursor: pointer;
}


.summery #shippingPanel{
  margin-bottom: 25px;
  color: #4f9dff;
  font-size: 13px;


}

#shippingPanel>p:hover{
  cursor: pointer;
}

.summery section .totalPrice {
  border-top: 1px solid black;
  padding-top: 15px;
  margin-top: 40px;;
}

.summery section .amount-now {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}
.summery section .amount-now input {
  max-width: 75px;
  text-align: center;
}

.summery section .message-box {
  margin-top: 10px;
  height: 110px;
}

.summery section .message-box .alert {
  color: red;
}

.zipcode-input {
  height: 35px;
  border-radius: 0px;
}

.discount-input {
  height: 35px;
  border-radius: 0px;
}

.checkoutButton {
  width: 100%;
  margin-top: 15px;
}


/****************display Image*********/
#displayImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64,64,65,0.6);
}

#offClickArea{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
}

#displayImage .mainDisplay{
  position: absolute;
  height: 500px;
  top: 25.2%;
  left: 26.3%;
  background-color: white;
  z-index: 50;

}

#displayImage .mainDisplay #designTitle{
  height: 10%;
  width: 85%;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid #939597;
}


#displayImage .mainDisplay .leftButton{
  cursor: pointer;
  position: absolute;
  top: 48%;
  left: 0;
}

#displayImage .mainDisplay .rightButton{
  cursor: pointer;
  position: absolute;
  top: 48%;
  right: 0;

}
