/*Shopping Cart page CSS*/

.appBody{
  min-width: 1100px;
}

.appBodyOverflow {
  height: 95vh;
  overflow-y: hidden;
}

/*************************
***** Shared Styles ******
**************************/

.cartpage-dropdown {
  color: #4896FF;
}

.apply-button {
  background-color: #4896FF;
  color: #FFFFFF;
  border-color: #4896FF;
  border-radius: 0px;
}

.apply-button:hover {
  background-color: white;
  border-color: #4896FF;
  color: #4896FF;
}

.invalidated-apply-button {
  background-color: white;
  color: #4896FF;
}

.invalidated-apply-button:hover {
  background-color: white;
  color: #4896FF;
}

.apply-form {
  padding-top: 25px;
  padding-bottom: 25px;
}

.clickable-text {
  color: #4896FF;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  outline: none;
}

/*************************
**** Cart Background *****
**************************/

.wheelchair_name_input{
  text-align:center;
  margin: 15px 0px;
}

.cartBody {
  position: relative;
  float: left;
  clear: left;
  width: 100%;
  background-color: #F1F1F1;
}

.trash_icon {
  float: right;
  margin-top: 20px;
}

.wheelchair_canvas {
  width: 187;
}

.checkbox-button {
  position: relative;
  top: -125px;
  margin-right: 20px;
}

.checked-item {
  border: 5px solid #4188E7;
}

/*************************
****** Cart Heading ******
**************************/

.cartHeading {
  position: relative;
  clear: left;
  float: left;
  margin:30px 0 0;
  width: 100%;
}


.cartHeading h3 {
  clear: left;
  float: left;
  margin-top: 36px;
  margin-left: calc(50% - 410px);
  text-transform: uppercase;
}

.cartHeading a .backButton {
  margin-top: 50px;
  clear: right;
  float: right;
  font-weight: bold;
  color: #000;
}

/*************************
****** Comparison table ****
**************************/

#imgBox{
  margin-right: 20px;
}

#mainContent{
  width: 100%;
  min-width: 800px;

}

#mainContent .addWheelchair{
  position: absolute;
  min-width: 681px;
  top: 119px;
  left: 20%;
  height: 260px;
  z-index: 0;
}

#mainContent .addWheelchair img{
  display: inline-block;
}

#mainContent .addWheelchair >a>div{
  display: inline-block;
  margin-right: 20px;
  width: 207px;
  position: relative;

  top: 85px;
  float: right;
}

#mainContent .addWheelchair >a >div:hover{
  cursor: pointer;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

#mainContent .addWheelchair >a>div >div{
  width: 100%;
}

#mainContent .add-chair{
  position: relative;
  display: inline-block;
  width: 227px;
  top: 120px;
  left: 74px;
  color: #939597;
}

#mainContent .comparisonImages{
  display: inline-block;
  position: relative;
  top: 15px;
  left: calc(50% - 270px);
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  z-index: 1;
}


#mainContent .comparisonImages h4{
  margin-left: 30px;
}


#mainContent .comparisonImages canvas{
  margin: 0 10px 5px;
  cursor: pointer;
}

#mainContent .comparisonImages tr{
  background-color:rgba(256,256,256,0.85);
  width: 100%;
  padding: 10px 0;
  position: absolute;
  bottom: 51px;
}

#mainContent .comparisonImages td{
  cursor: pointer;
  padding: 0 21px;
}

#mainContent .comparisonImages td:nth-child(2){
  border-left: 3px solid black;
  border-right: 3px solid black;
}



#mainContent .comparisonImages .addButton {
  color: #00A89C;
  font-size: 1.3em;
  border: 1px solid #00a89c;
  padding: 10px 0;
}

#mainContent .comparisonImages .addButton:hover {
  background-color: #00a89c;
  color: white;
}

#mainContent .comparisonImages .removeButton {
  color: white;
  font-size: 1.3em;
  border: 3px solid #CCCCCC;
  background-color: #CCCCCC;
  padding: 10px 0;
}

#mainContent .comparisonImages .removeButton:hover {
 cursor: pointer;
  color: #939597;
}




/********detail part table***********/

.cartBody > table{
  /*margin: 20px calc(50% - 410px);*/

  padding-left: 410px;
  margin-left: 20px;
  width: 98%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  clear: left;
}

.parts-table, .parts-table td{
  border-top: solid 1px #EAEAEA;
  border-bottom: solid 1px #EAEAEA;
}

.price-weight-row{
  border-bottom: solid 3px grey;
}

.part-row{
  border-bottom: solid 1px grey;
}

.title-column{
  width: 145px;
  font-weight: bold;
  text-align: left;
  color: #4896FF;
}

.title-column p{
  display: inline-block;
}

.value-column{
  width: 227px;
  margin: 0 10px;
  font-weight: bold;
}

.hover-column:hover{
  background-color: #EAEAEA;
}

.cartBody td > p{
  margin: 25px 0 0 0;
}

.option-desc{
  background-color: #EAEAEA;
  padding: 0;
}

.option-desc.ng-enter{
  animation-name: expand;
  animation-duration: 2s;
}

.option-desc > p{
  margin: 0;
}




/*************************
****** Cart Item List ****
**************************/

.emptyCartMessage {
  margin-top: 30px;
}

.cart-item {
  background-color: white;
  padding: 15px;
  margin: 15px;
}

.cartItems {
  position: relative;
  float: left;
  clear: left;
  width: 100%;
  padding-left: 10px;
  max-height: 450px;
  min-height: 200px;
  overflow-y: auto;
}

.cartItemsTable {
  width: 96%;
  position: relative;
  left: -6px;
}

.cartItem {
  border-bottom: solid 1px #BBBBBB;
}

.cartItem td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.cartItemThumb {
  min-width: 100px;
  max-width: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: top;
}

.cartItemDetailDisplay {
  height: 50%;
  min-height: 50px;
}

.cartItemName {
  float: left;
}

.cartItemPrice {
  float: right;
}

.cartItemWeight {
  float: right;
  margin-right: 25px;
}

.cartItemButtons {
  height: 50%;
  min-height: 50px;
}

.cartItemButton {
  border: 1px solid #60C2B1;
  background-color: #60C2B1;
  display:inline-block;
  color: #000000;
}

.cartItemButton:hover {
  background-color: #A7A9Ac;
  cursor: pointer;
}

.cartAddButton {
  border: 1px solid #60C2B1;
  background-color: #FFFFFF;
  display:inline-block;
  color: #000000;
  float: right;
}

.button.inactive {
  background-color: #AAAAAA;
  color: white;
}

.cartRemoveButton {
  border: 1px solid #60C2B1;
  background-color: #60C2B1;
  display:inline-block;
  color: #000000;
  float: right;
}

.cartRemoveButton:hover {
  background-color: #b11b1b;
  cursor: pointer;
}

/*************************
****** Pricing Table *****
**************************/

.pricing-table {
  background-color: white;
  padding: 15px;
  margin: 15px;
  float: right;
}

/*************************
****** Payment Table *****
**************************/

.payment-table {
  background-color: white;
  color: #4896FF;
  padding: 15px;
  margin: 15px;
}

/*************************
****** Zipcode Area ******
**************************/

.zipcode-area {
  background-color: white;
  color: #4896FF;
  padding: 15px;
  margin: 15px;
}

.zipcode-input {
}

/*************************
****** Detail Table ******
**************************/

.detailTable {
  margin-bottom: 3px;
}

.detailTable td {
  border: solid 1px black;
  padding: 2px;
}

.detailTable thead td{
  background-color: gray;
  font-size: large;
}

/*************************
****** Cart Sidebar ******
**************************/

.cartSidebar {
  border: 1px solid #EAEAEA;
  border-top: none;
  clear: right;
  float: right;
  padding: 52px 15px 100px;
  margin-right: 10px;
  position: relative;
  width: 23%;
  height: 100%;
}

.cartSidebarHeading {
  font-size: 25px;
  border-bottom: solid 2px #AAAAAA;
  padding-bottom: 24px;
  margin-bottom: 3px;
  position: relative;
  top: -25px;
}

.cartSidebarSubtotals {
  width: 100%;
  position: relative;
  top: 20px;
  line-height: 2;
  border-top: solid 2px #AAAAAA;
}

.cartSidebarSubtotals td {
  padding: 7px;
}

.cartSidebarLabel {
  color: #9f9f9f;
}

.cartSidebarValue {
  text-align: right;
}

.cartSidebarSubtotals tfoot {
  border-top: solid 2px #AAAAAA;
}

.verticalTop{
  vertical-align: top;
}

.button-div{
  position: relative;
}

.checkoutButton {
  width: 90%;
  border-radius: 0px;
  border-color: #4896FF;
  background-color: #4896FF;
  color: white;
  padding: 15px;
  margin: 15px;
}

.checkoutButton.inactive {
  background-color: white;
  color: #4896FF;
}

.checkoutButton:hover {
  background-color: white;
  color: #4896FF;
  border-color: #4896FF;
  cursor: pointer;
}

#scroll-order {
  overflow-y: auto;
  overflow-x: hidden;
  height: 263px;
  text-align: center;
}

#scroll-order>div {
  margin-top: 116px;
}


ol{
  list-style: none;
  padding-left: 0;
}


.order-list-element{

  position: relative;
}

ol h3{
  position: absolute;
  top: -11px;
  left: 36px;
}


/****************display Image*********/
#displayImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64,64,65,0.6);
}

#offClickArea{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
}

#displayImage .mainDisplay{
  position: absolute;
  height: 500px;
  top: 25.2%;
  left: 26.3%;
  background-color: white;
  z-index: 50;

}

#displayImage .mainDisplay #designTitle{
  height: 10%;
  width: 85%;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid #939597;
}


#displayImage .mainDisplay .leftButton{
  cursor: pointer;
  position: absolute;
  top: 48%;
  left: 0;
}

#displayImage .mainDisplay .rightButton{
  cursor: pointer;
  position: absolute;
  top: 48%;
  right: 0;

}

div{
  font-family: 'Gotham A', 'Gotham B';
}
h4{
  font-size:15px;
}

.empty-designs{
  position: relative;
  top: 25vh;
  color: #939597;
}

.add-icon{
  display: inline-block;
  height: 30px;
  width: 30px;
}


#mainContent .add-chair:hover{
  color: #88cbc3;
}
