/*******font******/
.oBold{
  font-family: 'oswald-bold';
  font-size: 1em;
}
.oReg{
  font-family: 'oswald-regular';
  font-size: 1em;
}

.gBook{
  font-family: 'gotham-book';
  font-size: 1em;
}





#wrapper{
  background-color: #F1F1F1;
  overflow: auto;
}

#contentWrapper{
  max-width: 1100px;
  height: 100vh;
  margin: auto;

}

.button{
  margin-top: 0;
  height: 35px;
  background-color: #4896FF;
  color: #FFFFFF;
  border-color: #4896FF;
  border-radius: 0px;
  padding: 0 10px;

}

.button:hover {
  background-color: white;
  border-color: #4896FF;
  color: #4896FF;
}
#mainDisplay{
  width: 700px;
  float: left;
  margin-top: 30px;
}
#header{
  position: relative;
  margin: 0 15px 0;
}

#header p{
  font-size: 1.7em;

}
.compareButton{
  position: absolute;
  top: 0;
  right: 0;
}


/********* wheelchair content display***/
#mainContent{
  width: 100%;
  display: inline-block;
}

.chairBlock{
  width: 100%;
  list-style-type: none;
  padding: 10px 15px;
  margin-right: 20px;
}

.chairBlock .chairTitle{
  width: 100%;
  background-color: darkgrey;
  font-size: 1.1em;
  padding:0 20px;
}

.chairBlock .selectedChair {
  background-color:#4f9dff;
}



.cart-item{
  background-color: white;
  margin-bottom: 20px;
}

.media-object{
  width: 30%;
  position: relative;
  display:inline-block;
}

.checkbox-button {

}

.media-body {
  overflow: visible;
  display: inline-block;
  width: 65%;
  vertical-align: top;
}
.media-body .firstLine{
  margin: 10px 0 58px;
}

.media-body a{
  color: #4f9dff;
}
.media-body .actions table{
  margin-bottom: 20px;
}
.media-body .actions td{
  padding: 0 15px;
  border-right: 2px solid black;
}

.media-body .actions td:first-of-type{
  padding-left: 0;
}

.media-body .moreInfoTitle{
  margin-top: 27px;
  color: #4f9dff;

}
.moreInfoTitle .clickable-text{
  display: inline-block;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  outline: none;
}

.moreInfo table{
  width: 100%;
}

.moreInfo .title-column{
  color: #939597;
}





/********Summary*******/
#summary{
  width: 300px;
  position: relative;
  top: 71px;
  margin:0 29px;
  float: right;
}

@media  (max-width: 1060px) {
  #summary{
    float: left;
    clear: left;
    margin-left: 15px;
    top: 0;
  }
}

#summary table{
  background-color: white;
  width: 100%;
  padding: 10px;
}



#summary>section{
  background-color: white;
  margin-top: 20px;
  padding: 15px;
}

@media  (max-width: 1060px) {
  #summary>section{
    margin-top: 0;
  }
}

#summary>section:first-of-type{
  overflow: auto;
}

#summary section {
  color: black;
  text-decoration: underline;
}


#summary section div {
  overflow: auto;
}


#summary #orderType {
  margin: 20px 0 10px;
  color: #4f9dff;
  font-size: 13px;
}

#summary #shippingPanel{
  margin-bottom: 20px;
  color: #4f9dff;
  font-size: 13px;


}

#summary section .totalPrice {
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 10px;;
}

.checkoutButton {
  width: 100%;
  margin-top: 15px;
}


/****************display Image*********/
#displayImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(64,64,65,0.6);
}

#offClickArea{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
}

#displayImage .mainDisplay{
  position: absolute;
  height: 500px;
  top: 25.2%;
  left: 26.3%;
  background-color: white;
  z-index: 50;

}

#displayImage .mainDisplay #designTitle{
  height: 10%;
  width: 85%;
  text-align: center;
  margin: auto;
  border-bottom: 1px solid #939597;
}


#displayImage .mainDisplay .leftButton{
  cursor: pointer;
  position: absolute;
  top: 48%;
  left: 0;
}

#displayImage .mainDisplay .rightButton{
  cursor: pointer;
  position: absolute;
  top: 48%;
  right: 0;

}
