

.checkout {
  line-height: 1;
  max-width: 1440px;
  margin: 0 auto;
}

.checkout-header {
  width: 90%;
  margin: 80px auto 0;
  text-align: left;
  margin-bottom: 40px;
}

.checkout-header>h5 {
  float: right;
  position: relative;
  top: -35px;
  cursor: pointer;
}

.checkout-body {
  width: 90%;
  margin: 70px auto 0;
}

.checkout-left {
  width: 50%;
  margin: 0;
  float: left;
}

.checkout-right {
  width: 50%;
  margin: 0;
  float: left;
}

.checkout-well {
  width: 80%;
  margin: 10px auto;
  min-height: 300px;
  padding: 20px;
  text-align: left;
  border: solid 2px #eaeaea;
}

.checkout-well-title {
  font-size: 24px;
  color: #60C2B1;
  border-bottom: solid 2px #939597;
  padding-bottom: 9px;
  margin: 20px auto;
  text-align: center;
}

.checkout-well-label {
  text-align: center;
  margin: 28px 0px 9px 0px;
  font-size: 20px;
}

.checkout-well>input {
  width: 100%;
  font-size: 18px;
}

.checkout-well-extras {
  text-align: right;
  margin-top: 50px;
}

.checkout-well-pass {
  color: #BBBBBB;
  cursor: pointer;
}

.checkout-well-reg {
  margin-top: 10px;
  cursor: pointer;
}

.checkout-button {
  margin: 34px 14% 14px;
  width: 72%;
}

#otc{
  text-align: center;
  height: 61px;
  padding-top: 50px;
  font-size: 20px;
}
