/*Shopping Cart page CSS*/


/*************************m
**** Cart Background *****
**************************/



.cartBody {
  float: left;
  clear: left;
  width: 68%;
}

/*************************
****** Cart Heading ******
**************************/

.cartHeading {
  position: relative;
  clear: left;
  float: left;
  margin-right: 0;
  margin-top: 30px;
  padding-right: 25px;
  padding-left: 5%;
  width: 96%;
}


.cartHeading h1 {
  clear: left;
  float: left;
  text-transform: uppercase;
}

.cartHeading a .backButton {
  margin-top: 34px;
  clear: right;
  float: right;
  /*font-weight: bold;*/
  color: #000;
}

/*************************
****** Cart Item List ****
**************************/

.emptyCartMessage {
  margin-top: 30px;
}

.cartItems {
  position: relative;
  float: left;
  clear: left;
  width: 100%;
  padding-left: 10px;
  max-height: 450px;
  min-height: 200px;
  overflow-y: auto;
}

.cartItemsTable {
  width: 96%;
  position: relative;
  left: -6px;
}

.cartItem {
  border-bottom: solid 1px #BBBBBB;
}

.cartItem td {
  padding-top: 5px;
  padding-bottom: 5px;
}

.cartItemThumb {
  min-width: 100px;
  max-width: 100px;
  width: 100px;
  display: inline-block;
  vertical-align: top;
}

.cartItemDetailDisplay {
  height: 50%;
  min-height: 50px;
}

.cartItemName {
  float: left;
}

.cartItemPrice {
  float: right;
}

.cartItemWeight {
  float: right;
  margin-right: 25px;
}

.cartItemButtons {
  height: 50%;
  min-height: 50px;
}

.cartItemButton {
  border: 1px solid #60C2B1;
  background-color: #60C2B1;
  display:inline-block;
  color: #000000;
}

.cartItemButton:hover {
  background-color: #A7A9Ac;
  cursor: pointer;
}

.cartAddButton {
  border: 1px solid #60C2B1;
  background-color: #FFFFFF;
  display:inline-block;
  color: #000000;
  float: right;
}

.cartAddButton.inactive {
  background-color: #AAAAAA;
}

.cartAddButton:hover {
  background-color: #60C2B1;
  cursor: pointer;
}

.cartAddButton.inactive:hover {
  background-color: #AAAAAA;
}

.cartRemoveButton {
  border: 1px solid #60C2B1;
  background-color: #60C2B1;
  display:inline-block;
  color: #000000;
  float: right;
}

.cartRemoveButton:hover {
  background-color: #b11b1b;
  cursor: pointer;
}

/*************************
****** Detail Table ******
**************************/

.detailTable {
  margin-bottom: 3px;
}

.detailTable td {
  border: solid 1px black;
  padding: 2px;
}

.detailTable thead td{
  background-color: gray;
  font-size: large;
}

/*************************
****** Cart Sidebar ******
**************************/

.cartSidebar {
  background-color: #eaeae8;
  clear: right;
  float: right;
  padding-left: 15px;
  padding-top: 70px;
  padding-bottom: 4%;
  position: relative;
  width: 22%;
  height: 96vh;
}

.cartSidebarHeading {
  font-size: 32px;
  border-bottom: solid 2px #AAAAAA;
  margin-right: 20px;
  padding-bottom: 10px;
  margin-bottom: 3px;
  position: relative;
  top: -25px;
 
}

.cartSidebarSubtotals {

  margin-top: 20px; 
  border-top: solid 2px #AAAAAA;
  width: 96%;
  position: relative;
  line-height: 2;
}

.cartSidebarSubtotals td {
  padding: 7px;
}

.cartSidebarLabel {
  font-weight: bold;
  font-size: 16px;
  color: #9f9f9f;
}

.cartSidebarValue {
  font-size: 16px;
  text-align: right;
  font-weight: bold;
}

.cartSidebarSubtotals tfoot {
  border-top: solid 2px #AAAAAA;
}

.checkoutButton {
  width: 90%;
  border: none;
  background-color: #60C2B1;
  display:inline-block;
  font-size: 1.5em;
  font-weight: bold;
  color: #FFFFFF;
  height: 50px;
  margin-top:10%;
}

.checkoutButton.inactive {
  background-color: #A7A9Ac;
}

.checkoutButton:hover {
  background-color: #60C2B1;
  cursor: pointer;
}


hr.header-line{
    display: block; height: 1px;
    border: 0; border-top: 1px solid #000;
    margin: 0% 0; padding: 0; 
    margin-left: 4%;
    margin-right: 4%;
}



.cartItemsThumbnails {
  position: relative;
  float: left;
  clear: left;
  width: 96.5%;
  max-height: calc(100% - 310px);
  overflow-y: auto;
  overflow-x: hidden;
  top:-15px;

}

.cartThumbImage{
  width:75%;
  margin-left:10%;
  margin-top:5;
  margin-top: 2%;
  margin-bottom: 2%;
}

.thumbIndex{
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
}


.cartItemName{
  font-size: 18px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.cartItemsComponent{
 
}