.info {
  line-height: normal;
  width: 1280px;
  margin: 0 auto;
}

.info-header {
  width: 90%;
  margin: 50px auto 0;
  border-bottom: solid 2px black;
  text-align: left;
  margin-bottom: 40px;
}

.info-header>h5 {
  float: right;
  position: relative;
  top: -35px;
  cursor: pointer;
}

.info-body {
  width: 80%;
  margin: 0 auto;
}

.info-left {
  width: 70%;
  margin: 0;
  float: left;
  text-align: left;
}

.info-right {
  width: 25%;
  /*margin-top: 22px;*/
  margin-left: 20px;
  float: left;
  position: relative;
}

.info-right .progress-bar-label{
  word-spacing: 48px;
  margin-bottom: 10px;
}

.info-right .progress-bar-label-text{
  position: absolute;
  top: 11px;
  word-spacing: 20px;
  margin-bottom: 10px;
}

.info-right .info-progressbar .progress{
  height: 7px;
  /*border-radius: 0px;*/
  background-color: #e6e7e8;
}

.info-right .info-progressbar .progress .progress-bar{
  background-color: #60C2B1;
}

.info-right .info-progressbar img {
  position: absolute;
  left: 25px;
  top: 18px;
}


.info-form {
  margin-bottom: 15px;
}

.info-form-header {
  color: #999999;
  font-size: 20px;
  border-bottom: solid 1px grey;
  margin-bottom: 15px;
}

.info-form-label {
  margin-left: 20px;
  margin-bottom: 5px;
}

.info-form>input {
  margin-left: 20px;
  margin-bottom: 15px;
  width: 40%;
}



.info-button {
  margin-top: 20px;
  background-color: #60C2B1;
  color: white;
  display:inline-block;
  width: 40%;
  height: 40px;
  padding-top: 10px;
  font-size: 15px;
}

.info-button.info-button-light {
  background-color: #97ccc3;
}

.info-button:hover {
  background-color: #A7A9Ac;
  cursor: pointer;
}
