.page{
  width: 820px;
  height: 1061px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper{
  width: 724px;
  height: 916px;
  border-style: solid;
  border-width: 5px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
  margin-bottom: 45px;
}

.wrapper2{
  width: 724px;
  height: 916px;
  margin-left:auto;
  margin-right:auto;
  margin-top: 50px;
  margin-bottom: 45px;
}

div.details{
  width: 45%;
  padding-top: 320px;
  padding-left: 25px;
  display: inline-block;
  vertical-align: top;
}

div.measurements{
  width: 92%;
  padding-top: 20px;
  padding-left: 35px;
  display: inline-block;
  vertical-align: top;
}

p.description{
  padding-top: 10px;
  padding-left: 35px;
  font-size: 16px;
  font-weight: bold;
}


p.description-result{
  padding-top: 10px;
  padding-left: 55px;
  font-size: 14px;

}

p.price-bold{
  padding-top: 10px;
  padding-left: 80px;
  font-size: 17px;
  font-weight: bold;
}

p.price{
  padding-top: 10px;
  padding-right: 115px;
  font-size: 17px;
}


img.wheel_measurement_one{
  width: 300px;
}

div.images{
  width: 45%;
  height: 916px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.invoice-label{
  font-weight: bold;
}

.value{
  padding-left: 15px;
}

.value2{
  padding-left: 100px;
}

h2{
  font-size: 40px;
}

.front-page-disp{
  height: 33%;
  position: absolute;
}

.first-image{
  top: 0px;
  left: 0px;
}

.second-image{
  top: 33%;
  left: 0px;
}

.third-image{
  top: 66%;
  left: 0px;
}

.footer{
  margin-left: 458px;
}

p{
  margin: 0;
}

#address{
  margin-bottom: 10px;
}

#logo{
  margin-bottom:30px;
  width: 100px;
}

#intelliwheels-info{
  width:30%;
  height: 30%;
  display: inline-block;
  vertical-align: top;
}

#summary{
  width: 60%;
  display: inline-block;
  vertical-align: top;
  padding-left:20px;
  padding-bottom:20px;
  border-left-style: solid;
}

h3{
  margin-top:0;
  margin-bottom:7px;
  font-size: 20px;
}

.address{
  padding-top:15px;
}

#wheelchair-sum{
  margin-top:50px;
}

table{
  border-spacing: 0px;
  width:100%;
  border-collapse: collapse;
}

.price{
  float:right;
}

.qty{
  width:34%;
}

.header{
  border-bottom-style:solid;
  border-color: #080808;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

#final-sum{
  border-top-style: solid;
  margin-top:100px;
}

hr.dark_line{
  width: 92%;
   padding-left: 25px;
   border: none;
   height: 2px;
   /* Set the hr color */
   color: #333; /* old IE */
   background-color: #333; /* Modern Browsers */
}
