.order {
  line-height: normal;
  min-width: 1050px;
  width: 100%;
  margin: 0 auto;
}

/**************************HEADER****************************/
.order-header {
  width: 90%;
  margin: 50px auto 40px;
  text-align: left;
}

.order-header>h5 {
  float: right;
  position: relative;
  top: -35px;
  cursor: pointer;
}

/****************************ALERT DIV*********************************/
.purchase_pending_fade{
  position:absolute;
  width: 100%;
  height:100%;
  opacity: 0.5;
  background-color:black;
  visibility: hidden;
}
.purchase_pending_alertBox{
  position:absolute;
  top: 35%;
  left:35%;
  width: 30%;
  height:25%;
  opacity: 0.95;
  background-color:white;
  text-align: center;
  visibility:hidden;
}

/****************************BODY****************************************/
.order-body {
  width: 80%;
  margin: 0 auto;
}

.order-left {
  width: 60%;
  margin: 0;
  float: left;
  text-align: left;
}


/*************************BODY-LEFT (Main)******************************/
.order-form {
  font-family: 'Gotham A', 'Gotham B';
  margin-bottom: 15px;
  border: 1px solid #eaeaea;
  padding: 20px 40px;
}

.payment{
  height: 330px;
}

.order-form-header {
  color: #00a89c;
  font-size: 20px;
  border-bottom: solid 1px grey;
  margin-bottom: 15px;
}

.order-form-label {
  margin-left: 20px;
  margin-bottom: 5px;
}

.order-form>input {
  margin-left: 20px;
  margin-bottom: 15px;
}

.order-form .text-input {
  width: 60%;
}

.order-form-table {
  margin-left: 20px;
}

.order-form-table td {
  padding: 4px 10px 4px 0px;
}

.order-form-table .table-seperator {
  height: 20px;
}

.order-form-table .table-title-row {
  border-bottom: solid 1px #DDDDDD;
}

.order-form-table .table-price-row {
  border-top: solid 1px #DDDDDD;
}

.order-form-well {
  margin-left: 20px;
  padding: 4px;
  border: solid 1px #999999;
  background-color: #CCCCCC;
  margin-bottom: 10px;
  overflow-y: scroll;
  max-height: 100px;
}

 .paymentWindow{
  margin: auto;
  padding: 10px 20px;
}

 .paymentWindow .paymentMethod{
  width: 49%;
  float: left;
  display: inline-block;
  height: 270px;
}

.paymentWindow .paymentOption{
  text-align: center;
}


.paymentMethod >div{
  margin: 18px ;
}
#paymentInfo {
  margin-top: 20px;
}




/*****************************BODY-RIGHT (Sidebar)***********************************/

.order-right {
  width: 300px;
  /*margin-top: 22px;*/
  margin-left: 20px;
  float: right;
  position: relative;
}

/*@media screen and (max-width: 1300px) {*/
    /*.order-right {*/
        /*width: 35%;*/
    /*}*/
/*}*/


.order-right .progress-bar-label{
  word-spacing: 60px;
  margin-bottom: 10px;
  color: #999999;
}

.order-right .progress-bar-label-text{
  position: absolute;
  top: 43px;
  left: 25px;
  word-spacing: 18px;
  margin-bottom: 10px;
  color: #999999;
  text-align: center;
}

.order-right .order-progressbar .progress{
  height: 7px;
  /*border-radius: 0px;*/
  background-color: #e6e7e8;
}

.order-right .order-progressbar .progress .progress-bar{
  background-color: #60C2B1;
}

.order-right .order-progressbar img {
  position: absolute;
  left: 23px;
  top: 16px;
}

.order-button {
  margin-top: 20px;
  background-color: #60C2B1;
  color: white;
  display:inline-block;
  width: 40%;
  height: 40px;
  padding-top: 10px;
  font-size: 15px;
}

.order-button.order-button-light {
  background-color: #97ccc3;
}

.order-button:hover {
  background-color: #A7A9Ac;
  cursor: pointer;
}
