body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Generated-Info {
	color:#000000;
	font-family:Roboto, sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Header {
	color:#000000;
	font-family:"Roboto Light", sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:300;
	line-height:1.286;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Invoice-Title {
	color:#000000;
	font-family:"Roboto Medium", sans-serif;
	font-size:11px;
	font-style:normal;
	font-variant:normal;
	font-weight:500;
	line-height:0.873;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Numbers {
	color:#000000;
	font-family:Roboto, sans-serif;
	font-size:8px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	height: 15px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:right;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Page-Title {
	color:#4f9eff;
	font-family:Roboto, sans-serif;
	font-size:16px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:0.5;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Section-Title {
	color:#000000;
	font-family:Roboto, sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:0.971;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:6px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Subtitle {
	color:#4f9eff;
	font-family:Roboto, sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:2.186;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
span.Diagram {
	color:#000000;
	font-family:Roboto, sans-serif;
	font-size:7px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	text-transform:uppercase;
}
p.ParaOverride-1 {
	text-align:right;
	height: 24px;
}
span.CharOverride-1 {
	font-family:"Avenir LT Std 35 Light", sans-serif;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-2 {
	color:#4f9eff;
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	font-size:10px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	-ms-transform:translate(0.000px,53.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,53.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,53.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,53.971px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:611.50px;
	z-index:2;
}
#_idContainer001 {
	-ms-transform:translate(35.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:50.56px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:130.02px;
	z-index:1;
}
#_idContainer002 {
	-ms-transform:translate(311.999px,13.596px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(311.999px,13.596px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.36px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(311.999px,13.596px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(311.999px,13.596px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:74.24px;
	z-index:0;
}
#_idContainer003 {
	-ms-transform:translate(449.999px,13.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(449.999px,13.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:25.33px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(449.999px,13.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(449.999px,13.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:66.96px;
	z-index:3;
}
#_idContainer004 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:54.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:612.00px;
	z-index:5;
}
#_idContainer005 {
	-ms-transform:translate(0.000px,752.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,752.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,752.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,752.775px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:611.50px;
	z-index:23;
}
#_idContainer006 {
	-ms-transform:translate(36.000px,103.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,103.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.73px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(36.000px,103.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,103.599px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:105.68px;
	z-index:0;
}
#_idContainer007 {
	-ms-transform:translate(35.999px,131.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(35.999px,131.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.36px;
	left:0px;
	overflow:hidden;
	position:absolute;
	padding-bottom: 10px;
	top:0px;
	transform:translate(35.999px,131.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(35.999px,131.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:1;
}
#_idContainer008 {
	-ms-transform:translate(36.000px,265.617px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,265.617px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.49px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(36.000px,265.617px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,265.617px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:8;
}
#_idContainer009 {
	-ms-transform:translate(36.000px,285.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,285.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,285.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,285.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:538.00px;
	z-index:12;
}
#_idContainer010 {
	-ms-transform:translate(36.000px,297.447px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,297.447px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:90.15px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(36.000px,297.447px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,297.447px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:10;
}
#_idContainer011 {
	-ms-transform:translate(36.000px,388.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,388.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,388.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,388.425px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:538.00px;
	z-index:13;
}
#_idContainer012 {
	-ms-transform:translate(174.000px,131.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(174.000px,131.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.36px;
	left:0px;
	overflow:hidden;
	padding-bottom: 10px;
	position:absolute;
	top:0px;
	transform:translate(174.000px,131.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(174.000px,131.307px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:2;
}
#_idContainer013 {
	-ms-transform:translate(312.000px,131.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(312.000px,131.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.33px;
	left:0px;
	overflow:hidden;
	padding-top: 5px;
	position:absolute;
	top:0px;
	transform:translate(312.000px,131.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(312.000px,131.040px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:3;
}
#_idContainer014 {
	-ms-transform:translate(312.000px,265.617px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(312.000px,265.617px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.49px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(312.000px,265.617px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(312.000px,265.617px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:7;
}
#_idContainer015 {
	-ms-transform:translate(312.000px,296.502px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(312.000px,296.502px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:90.18px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(312.000px,296.502px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(312.000px,296.502px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:9;
}
#_idContainer016 {
	-ms-transform:translate(311.999px,419.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(311.999px,419.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.44px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(311.999px,419.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(311.999px,419.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:14;
}
#_idContainer017 {
	-ms-transform:translate(312.000px,489.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(312.000px,489.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(312.000px,489.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(312.000px,489.646px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:262.00px;
	z-index:18;
}
#_idContainer018 {
	-ms-transform:translate(311.999px,506.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(311.999px,506.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.20px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(311.999px,506.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(311.999px,506.800px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:16;
}
#_idContainer019 {
	-ms-transform:translate(312.000px,543.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(312.000px,543.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(312.000px,543.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(312.000px,543.960px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:262.00px;
	z-index:19;
}
#_idContainer020 {
	-ms-transform:translate(312.000px,556.720px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(312.000px,556.720px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.68px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(312.000px,556.720px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(312.000px,556.720px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:20;
}
#_idContainer021 {
	-ms-transform:translate(450.000px,131.333px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(450.000px,131.333px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:65.33px;
	left:0px;
	overflow:hidden;
	padding-top: 5px;
	position:absolute;
	top:0px;
	transform:translate(450.000px,131.333px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(450.000px,131.333px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:4;
}
#_idContainer022 {
	-ms-transform:translate(449.999px,265.907px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(449.999px,265.907px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:18.49px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(449.999px,265.907px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(449.999px,265.907px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:6;
}
#_idContainer023 {
	-ms-transform:translate(450.000px,296.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(450.000px,296.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:90.15px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(450.000px,296.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(450.000px,296.940px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:11;
}
#_idContainer024 {
	-ms-transform:translate(450.000px,419.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(450.000px,419.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.44px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(450.000px,419.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(450.000px,419.362px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:15;
}
#_idContainer025 {
	-ms-transform:translate(450.000px,506.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(450.000px,506.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:55.20px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(450.000px,506.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(450.000px,506.799px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:125.92px;
	z-index:17;
}
#_idContainer026 {
	-ms-transform:translate(450.000px,556.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(450.000px,556.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.45px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(450.000px,556.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(450.000px,556.880px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:21;
}
#_idContainer027 {
	-ms-transform:translate(454.999px,764.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(454.999px,764.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.10px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(454.999px,764.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(454.999px,764.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:59.71px;
	z-index:22;
}
#_idContainer028 {
	-ms-transform:translate(515.459px,755.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(515.459px,755.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:36.10px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(515.459px,755.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(515.459px,755.900px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:60.75px;
	z-index:24;
}
#_idContainer029 {
	display:inline-block;
	height:792px;
	position:relative;
	width:612px;
}
#_idContainer030 {
	-ms-transform:translate(0.000px,562.979px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,562.979px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:136.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,562.979px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,562.979px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:140.15px;
	z-index:1;
}
#_idContainer031 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:611.50px;
	z-index:2;
}
#_idContainer032 {
	-ms-transform:translate(1.500px,14.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(1.500px,14.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:15.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(1.500px,14.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(1.500px,14.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:14.00px;
	z-index:0;
}
#_idContainer033 {
	-ms-transform:translate(431.500px,12.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(431.500px,12.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:27.10px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(431.500px,12.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(431.500px,12.125px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:59.71px;
	z-index:1;
}
#_idContainer034 {
	-ms-transform:translate(496.959px,0.824px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(496.959px,0.824px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:38.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(496.959px,0.824px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(496.959px,0.824px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:115.04px;
	z-index:3;
}
#_idContainer035 {
	-ms-transform:translate(0.000px,724.255px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,724.255px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:39.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,724.255px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,724.255px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:612.00px;
	z-index:15;
}
#_idContainer036 {
	-ms-transform:translate(36.000px,25.935px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,25.935px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.54px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(36.000px,25.935px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,25.935px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:11;
}
#_idContainer037 {
	-ms-transform:translate(36.000px,61.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,61.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.21px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(36.000px,61.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,61.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:13;
}
#_idContainer038 {
	-ms-transform:translate(36.000px,212.104px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,212.104px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;

	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,212.104px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,212.104px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:575.50px;
	z-index:10;
}
#_idContainer039 {
	-ms-transform:translate(36.000px,250.480px) rotate(0.000deg) skew(0.000deg) scale(0.65,0.65);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,250.480px) rotate(0.000deg) skew(0.000deg) scale(0.65,0.65);
	-webkit-transform-origin:0% 0%;
	height:595px;
	left:36px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(36.000px,250.480px) rotate(0.000deg) skew(0.000deg) scale(0.65,0.65);
	transform:translate(36.000px,250.480px) rotate(0.000deg) skew(0.000deg) scale(0.65,0.65);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:780px;
	z-index:3;
}
#_idContainer040 {
	-ms-transform:translate(36.000px,267.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,267.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:132.24px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(36.000px,267.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,267.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:4;
}
#_idContainer041 {
	-ms-transform:translate(36.000px,401.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(36.000px,401.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:162.36px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,401.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(36.000px,401.439px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:208.04px;
	z-index:0;
}
#_idContainer042 {
	-ms-transform:translate(137.331px,562.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(137.331px,562.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:135.83px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(137.331px,562.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(137.331px,562.440px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:139.67px;
	z-index:2;
}
#_idContainer043 {
	-ms-transform:translate(174.000px,61.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(174.000px,61.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:126.21px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(174.000px,61.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(174.000px,61.269px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:116.00px;
	z-index:14;
}
#_idContainer044 {
	-ms-transform:translate(173.999px,267.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(173.999px,267.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:132.24px;
	left:0px;
	overflow:hidden;
	padding-bottom: 10px;
	position:absolute;
	top:0px;
	transform:translate(173.999px,267.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(173.999px,267.911px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:116.00px;
	z-index:5;
}
#_idContainer045 {
	-ms-transform:translate(305.999px,226.360px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(305.999px,226.360px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:0.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(305.999px,226.360px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(305.999px,226.360px) rotate(90.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:431.29px;
	z-index:6;
}
#_idContainer046 {
	-ms-transform:translate(321.106px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(321.106px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:180.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(321.106px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(321.106px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:236.89px;
	z-index:12;
}
#_idContainer047 {
	-ms-transform:translate(322.000px,223.480px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(322.000px,223.480px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:44.40px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(322.000px,223.480px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(322.000px,223.480px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:116.00px;
	z-index:7;
}
#_idContainer048 {
	-ms-transform:translate(321.999px,267.686px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(321.999px,267.686px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:279.73px;
	left:0px;
	overflow:hidden;
	padding-bottom: 25px;
	padding-top: 10px;
	position:absolute;
	top:0px;
	transform:translate(321.999px,267.686px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(321.999px,267.686px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:116.00px;
	z-index:8;
}
#_idContainer049 {
	-ms-transform:translate(450.000px,267.686px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(450.000px,267.686px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:279.73px;
	left:0px;
	overflow:hidden;
	position:absolute;
	padding-top: 10px;
	padding-bottom: 25px;
	top:0px;
	transform:translate(450.000px,267.686px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(450.000px,267.686px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:126.00px;
	z-index:9;
}
#_idContainer050 {
	display:inline-block;
	height:763px;
	position:relative;
	width:612px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
	position: absolute;
	left: 0px;
}
div._idGenObjectStyleOverride-1 {
	border-color:#939598;
	border-width:1px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectStyleOverride-3 {
	border-color:#c9cacc;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
