<link href="../../styles/modals/lockedDesignModal.css" rel="stylesheet" ng-controller="LockedDesignModalCtrl"/>
<div class="locked-design-body">
  <h4 class="main-text ">Locked Design</h4>
  <h5 class="main-text">Seems like this design was part of a previous order and can no longer be edited. Would you like to edit a new copy of this design?</h5>

  <div class="button-container">
    <button class="confirm-button" ng-click="closeThisDialog('copy')">Confirm</button>
    <button class="cancel-button" ng-click="closeThisDialog('cancel')">Cancel</button>
  </div>
</div>

