<link href="../../styles/modals/loginModal.css" rel="stylesheet"/>

<div>
  <div class="actionPanel" ng-if="loginPanel == 'login'">
    <span ng-click="backToMain()" class="glyphicon glyphicon-chevron-left"></span>
    <article class="medium">
      <h4>login</h4>
      <h6>Please login to save your design</h6>
    </article>
    <section class="loginAction center">
      <label for="loginModel.email"></label>
      <input type="text" data-ng-model="loginModel.email" placeholder="Username">
      <label for="loginModel.password"></label>
      <input type="text" data-ng-model="loginModel.password" placeholder="Password">
      <button data-ng-click="login()">LOGIN</button>
    <h5 data-ng-click="register()">REGISTER</h5>
    </section>
    <p class="errorMessage" data-ng-bind="loginError"></p>
    <div class="closeTab" ng-click="closeSaveDropDown()"><span class="glyphicon glyphicon-remove"></span></div>
  </div>

  <!-------register---->
  <div class="actionPanel registerPanel" ng-if="loginPanel == 'register'">
    <span ng-click="backToLogin()" class="glyphicon glyphicon-chevron-left"></span>
    <register></register>
  </div>
</div>