<link href="../../styles/modals/saveDesignModal.css" rel="stylesheet"/>
<div class="save-design-body">
  <h4 class="main-text ">Are you sure?</h4>
  <h5 class="main-text">Please save your design before navigating away from this page, otherwise your design will be lost.</h5>

  <div class="button-container">
    <button class="confirm-button" ng-click="closeThisDialog('continue')">Continue</button>
    <button class="cancel-button" ng-click="closeThisDialog('cancel')">Cancel</button>
  </div>
</div>

