<link href="../../styles/modals/startNewModal.css" rel="stylesheet" ng-controller="LockedDesignModalCtrl"/>
<div class="start-new-body">
  <h4 class="main-text ">Continue or Start New?</h4>
  <h5 class="main-text">Seems like you didn't finish editing you're previous design for this frame. Do you want to continue editing your previous design or erase it and start fresh?</h5>

  <div class="button-container">
    <button class="confirm-button" ng-click="closeThisDialog('continue')">Continue</button>
    <button class="cancel-button" ng-click="closeThisDialog('new')">New</button>
  </div>
</div>

