<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.1.62/jquery.inputmask.bundle.js"></script>
<script>
$(window).load(function()
{
   var phones = [{ "mask": "(###) ###-####"}, { "mask": "(###) ###-##############"}];
    $('#textbox').inputmask({ 
        mask: phones, 
        greedy: false, 
        definitions: { '#': { validator: "[0-9]", cardinality: 1}} });
});
</script>
<link href="../../styles/register/register.css" rel="stylesheet"/>
<div id="wrapper">
  <h3 class='bold'>REGISTER</h3>
  <div>
    <div id="register-div">
      <form action="" id="settingsContentForm-contact">
        <img class="img-circle" data-ng-src="images/register_page/circle_one.png">

        <div class="settingsContentSectionTitle book">Account Information</div>
        <div class="form-group form-inline">
          <label for="settingsContentInput-contact-firstName" class="book">First Name</label><br>
          <input id="settingsContentInput-contact-firstName" name="firstName" type="text"
                 class="form-control" data-ng-model="accountModel.fName"/>
        </div>
        <div class="form-group form-inline form-last">
          <label for="settingsContentInput-contact-lastName" class="book">Last Name</label><br>
          <input id="settingsContentInput-contact-lastName" name="lastName" type="text"
                 class="form-control" data-ng-model="accountModel.lName"/>
        </div>

        <div class="form-group">
          <label for="settingsContentInput-contact-email" class="book">Email Address</label>
          <input id="settingsContentInput-contact-email" name="email" type="email" class="form-control"
                 data-ng-model="accountModel.email"/>
        </div>

        <div class="form-group">
          <label for="settingsContentInput-contact-phone" class="book">Phone Number</label>
          <input 
                 id="settingsContentInput-contact-phone"
                 name="phone" 
                 type="tel" 
                 class="form-control"
                 phone-input
                 ng-model="accountModel.phone"/>
        </div>

        <div class="form-group form-inline">
          <label for="settingsContentInput-contact-pass" class="book">Password</label><br>
          <input id="settingsContentInput-contact-pass" name="password" type="password"
                 class="form-control" data-ng-model="accountModel.password"/>
        </div>
        <div class="form-group form-inline form-last">
          <label for="settingsContentInput-contact-confirm" class="book">Confirm Password</label><br>
          <input id="settingsContentInput-contact-confirm" name="password" type="password"
                 class="form-control" data-ng-model="accountModel.confirm"/>
        </div>
      </form>

      <form action="" id="settingContentForm-shipping">
        <img class="img-circle" data-ng-src="images/register_page/circle_two.png">
        <div class="settingsContentSectionTitle book">Shipping Address</div>
        <div class="form-group">
          <label for="settingsContentInput-contact-address" class="book">Street Address</label><br>
          <input id="settingsContentInput-contact-address" name="Address" type="text"
                 class="form-control" data-ng-model="accountModel.addr"/>
        </div>
        <div class="form-group">
          <label for="settingsContentInput-contact-address2" class="book">Street Address2</label><br>
          <input id="settingsContentInput-contact-address2" name="Address2" type="text"
                 class="form-control" data-ng-model="accountModel.addr2"/>
        </div>
        <div class="form-group form-inline-small">
          <label for="settingsContentInput-contact-city" class="book">City</label><br>
          <input id="settingsContentInput-contact-city" name="City" type="text"
                 class="form-control" data-ng-model="accountModel.city"/>
        </div>
        <div class="form-group form-inline-small">
          <label for="settingsContentInput-contact-state" class="book">State</label><br>
          <select id="settingsContentInput-contact-state" name="State" type="text"
                  class="form-control" data-ng-model="accountModel.state" name="state">
            <option value="AL">Alabama</option>
            <option value="AK">Alaska</option>
            <option value="AZ">Arizona</option>
            <option value="AR">Arkansas</option>
            <option value="CA">California</option>
            <option value="CO">Colorado</option>
            <option value="CT">Connecticut</option>
            <option value="DE">Delaware</option>
            <option value="DC">District of Columbia</option>
            <option value="FL">Florida</option>
            <option value="GA">Georgia</option>
            <option value="HI">Hawaii</option>
            <option value="ID">Idaho</option>
            <option value="IL">Illinois</option>
            <option value="IN">Indiana</option>
            <option value="IA">Iowa</option>
            <option value="KS">Kansas</option>
            <option value="KY">Kentucky</option>
            <option value="LA">Louisiana</option>
            <option value="ME">Maine</option>
            <option value="MD">Maryland</option>
            <option value="MA">Massachusetts</option>
            <option value="MI">Michigan</option>
            <option value="MN">Minnesota</option>
            <option value="MS">Mississippi</option>
            <option value="MO">Missouri</option>
            <option value="MT">Montana</option>
            <option value="NE">Nebraska</option>
            <option value="NV">Nevada</option>
            <option value="NH">New Hampshire</option>
            <option value="NJ">New Jersey</option>
            <option value="NM">New Mexico</option>
            <option value="NY">New York</option>
            <option value="NC">North Carolina</option>
            <option value="ND">North Dakota</option>
            <option value="OH">Ohio</option>
            <option value="OK">Oklahoma</option>
            <option value="OR">Oregon</option>
            <option value="PA">Pennsylvania</option>
            <option value="RI">Rhode Island</option>
            <option value="SC">South Carolina</option>
            <option value="SD">South Dakota</option>
            <option value="TN">Tennessee</option>
            <option value="TX">Texas</option>
            <option value="UT">Utah</option>
            <option value="VT">Vermont</option>
            <option value="VA">Virginia</option>
            <option value="WA">Washington</option>
            <option value="WV">West Virginia</option>
            <option value="WI">Wisconsin</option>
            <option value="WY">Wyoming</option>
          </select>
        </div>
        <div class="form-group form-inline-small">
          <label for="settingsContentInput-contact-zip" class="book">Zip Code</label><br>
          <input id="settingsContentInput-contact-zip" name="Zip" type="text"
                 class="form-control" data-ng-model="accountModel.zip"/>
        </div>
      </form>
      <div class="error-mesg" data-ng-bind="error"></div>
      <button class="settingsSidebarButton medium"
              id="settingsSidebarSaveButton"
              data-ng-click="register()">REGISTER &gt;&gt;</button>
    </div>
  </div>
</div>
