<link href="../../styles/register/register.css" rel="stylesheet"/>
<div id="wrapper">
  <div><h3><strong>Complete</strong></h3></div>
  <div>Hello, <strong>Sarah</strong>, Welcome to <span>Abacus</span>!<br>
    Your Account has been created.<br>
    we will send you a confirmation email shortly.<br>
    Please check your email for a code in order to login.<br>
  </div>
  <div>
    <div>On Abacus,</div>
    <div>
      You can create your own wheelchair<br>
      Choose your design, color, material for your wheelchair.<br>
      Have fun with your wheelchair configurator!
    </div>
    <div>
      With <span>Abacus</span> account<br>
      You will be able to save your design and measurement.<br>
      Whenever you come back, you won't have to retype all of your information.
    </div>
  </div>

  <div>Go to my settings</div>
  <div>Build my wheelchair</div>
  <div>Go to my design</div>
</div>
