

<div class="row">
  <div class="progress col-lg-11">
    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
      <span class="sr-only">40% Complete (success)</span>
    </div>
 </div>
  <button type="button" id="SaveButton" class="btn btn-primary col-lg-1">Save & Review</button>
</div>

<div class="display col-lg-3 col-lg-offset-9">
  <p>
    <h4>
      Price: <small>$1234.45</small> Weight: <small>12.34lbs</small>

    </h4>
  </p>
</div>

<div class="row">
  <div class="mainpic col-lg-8 "  >
    <img src="images/mainpic.png" class="img-responsive">
  </div>
  <div class="col-lg-4 ">
  <ul  class="nav nav-tabs nav-justified">
    <li role="presentation" ><a ng-href="#/abacus">Customize</a></li>
    <li role="presentation" class="active"><a ng-href="#/abacus">Measure</a></li>

  </ul>

  <!--<div class="well"></div>-->
  <div class="sideBar" class="well-sm">


      <table class="table">
        <tr>
          <div class="text-center"><h3><small><span class="glyphicon glyphicon-chevron-left"></span> </small>     Caster-Fork     <small><span class="glyphicon glyphicon-chevron-right"></span></small></h3></div>


        </tr>
        <tr>
          <td><img src="images/d_panel_1.png" height="80"></td>
          <td>
            <h4>Tilite Slipstream Single-sided Fork </h4>
            <h3>$150 | 4lbs</h3>
          </td>
        </tr>
        <tr>
          <td><img src="images/d_panel_2.png" height="80"> </td>
          <td>
            <h4>Tilite Slipstream Single-sided Fork </h4>
            <h3>$150 | 4lbs</h3>

          </td>
        </tr>
        <tr>
          <td><img src="images/d_panel_3.png" height="80"></td>
          <td>
            <h4>Tilite Slipstream Single-sided Fork </h4>
            <h3>$150 | 4lbs</h3>

          </td>
        </tr>
        <tr>
          <td><img src="images/d_panel_4.png" height="80"></td>
          <td>
            <h4>Tilite Slipstream Single-sided Fork </h4>
            <h3>$150 | 4lbs</h3>

          </td>
        </tr>
        <tr>
          <td><img src="images/d_panel_3.png" height="80"></td>
          <td>
            <h4>Tilite Slipstream Single-sided Fork </h4>
            <h3>$150 | 4lbs</h3>

          </td>
        </tr>
      </table>
    </div>


</div>
</div>


