<link href="styles/abacus.css" rel="stylesheet"/>

<script src="scripts/canvas/createJS/easeljs-0.8.1.min.js"></script>
<script src="scripts/canvas/createJS/tweenjs-0.6.1.min.js"></script>
<script src="scripts/canvas/createJS/movieclip-0.8.1.min.js"></script>
<script src="scripts/canvas/Navigation/navBar.js"></script>
<script src="scripts/canvas/Navigation/additionalJS.js"></script>
<script src="scripts/canvas/Navigation/js/Code.js"></script>


<div id="offClickArea" ng-click="closeAllPanels()" ng-show="getCurPanelID() != -1"></div>

<div id="wrapper">
  <div id="background">

    <!-- Progress Bar and Save Button-->
    <div id="progressSaveBar">


<!--
      <div class="progressBar">

      <span class="progress-segment" ng-repeat="page in getCurPages()" ng-mouseover="progressSegmentHoverIn()"
            ng-mouseleave="progressSegmentHoverOut()">
        <img class="progress-segment-arrow" ng-click="pageSwitchJump(page)" data-ng-src="{{getProgBarImage(page)}}">

        <span class="progress-segment-tooltip"
              ng-show="showProgressSegmentTooltip" data-ng-bind="getProgressBarSegmentTooltipText(page)"></span>

      </span>
      </div>
-->

      <!-- canvas Navigation Bar -->
        <canvas ng-mouseover="nothing()"  
                ng-mouseleave="nothing()"
                ng-click="nothing()"
                id="NavigationBar" 
                width="1280" 
                height="31" 
                style="background-color:#FFFFFF">
        </canvas>
        <div id="nav_span">HEllo</div>
              
      </span>
      <!-- canvas Navigation Bar -->


      <button type="button" id="SaveButton" class="btn"
              data-ng-class="{'saveButton':saveDropdown === true, 'complete': completed() === null}"
              data-ng-click="toggleSaveDropDown()">Save & Review
      </button>
    </div>

    <div data-ng-if="saveDropdown === true" class="dropdownButton">
      <table class="dropdownTable">
        <tr>
          <td id="panelIcon1"><img data-ng-click="saveDesign()"
                                   data-ng-src="images/abacus_page/save_review/on_save_to_my_design.png">
            <img data-ng-click="saveDesign()" class=" iconHover"
                 data-ng-src="images/abacus_page/save_review/save_to_my_design.png">
            <h4 data-ng-click="saveDesign()">SAVE TO MY DESIGN</h4>
          </td>
          <td><img data-ng-click="saveComputer()"
                   data-ng-src="images/abacus_page/save_review/on_save_to_computer.png">
            <img data-ng-click="saveComputer()" class="iconHover"
                 data-ng-src="images/abacus_page/save_review/save_to_computer.png">
            <h4 data-ng-click="saveComputer()" id="panelText">Download a PDF</h4>
          </td>
          <td id="panelIcon3"><img data-ng-src="images/abacus_page/save_review/share.png">
            <img class="iconHover" style="opacity: 0; cursor: auto;"
                 data-ng-src="images/abacus_page/save_review/share.png">
            <h4 style="color: grey;">SHARE WITH FRIEND</h4>
          </td>
        </tr>
      </table>
    </div>

    <div class="appBody" data-ng-class="{'appBodyShow': saveDropdown === true}">

      <!-- Price & Weight Display -->
      <div id="display" class="Book">
        <div>Weight:
          <span class="medium" data-ng-bind="(getTotalWeight()*getCurUnitSysWeightFactor()).toFixed(2)"></span>
          <span class="medium" data-ng-bind="getCurUnitSysWeightName()"></span>
        </div>
        <div>Price: $<span class="medium" data-ng-bind="getTotalPrice().toFixed(2)"></span></div>
        <div><span class="medium" data-ng-bind="curFrameData.name"></span></div>
      </div>

      <!-- BODY -->
      <div class="main">
        <!-- CUSTOMIZE: Wheelchair Display and controls -->
        <div id="main-custom" class="main-custom" data-ng-show="getCurPageType() == pageType.CUSTOMIZE"
             style="position:relative;">
          <div class="main-custom-rotatebuttons" ng-class="{'wide-screen': screenWideQuery()}">
            <img class="leftButton" src="images/icons/rotate_left.jpg" alt="Previous" width="30" height="30"
                 data-ng-click="rotatePreview(-1)"/>
            <img class="rightButton" src="images/icons/rotate_right.jpg" alt="Next" width="30" height="30"
                 data-ng-click="rotatePreview(1)"/>
          </div>
          <img class="main-custom-wheelchairDisplay"
               ng-repeat="img in getPreviewImages()"
               ng-src="{{img.URL}}"
               ng-style="{'z-index': $index }"
               ng-class="{'wide-screen': screenWideQuery()}"
            />
        </div>

        <!-- MEASURE: Video + gif + details -->
        <div class="main-measure" data-ng-if="getCurPageType() == pageType.MEASURE">
          <div class="measure-top">
            <h3><strong data-ng-bind="getCurMeasureData().name"></strong></h3>

            <table class="measure-tab">
              <tr>
                <td class="measure-tab-title"
                    ng-click="setMeasureTabs(MeasureTabs.TUTORIAL)"
                    ng-mouseover="activePanel = 1"
                    ng-mouseleave="activePanel = -1"
                    ng-class="{ 'active' : getMeasureTabs() === MeasureTabs.TUTORIAL }">
                  <img ng-hide="getMeasureTabs() === MeasureTabs.TUTORIAL || activePanel === 1" width="30" ng-src="images/abacus_page/measure/icon/video.png">
                  <img ng-show="getMeasureTabs() === MeasureTabs.TUTORIAL || activePanel === 1" width="30" ng-src="images/abacus_page/measure/icon/video_on.png">
                  <span class="medium" ng-if="getMeasureTabs() === MeasureTabs.TUTORIAL || activePanel === 1">Tutorial</span>
                </td>
                <td class="measure-tab-title"
                    ng-click="setMeasureTabs(MeasureTabs.ERGONOMICS)"
                    ng-mouseover="activePanel = 2"
                    ng-mouseleave="activePanel = -1"
                    ng-class="{ 'active' : getMeasureTabs() === MeasureTabs.ERGONOMICS }">
                  <img ng-hide="getMeasureTabs() === MeasureTabs.ERGONOMICS || activePanel === 2" width="30" ng-src="images/abacus_page/measure/icon/text.png">
                  <img ng-show="getMeasureTabs() === MeasureTabs.ERGONOMICS || activePanel === 2" width="30" ng-src="images/abacus_page/measure/icon/text_on.png">
                  <span class="medium" ng-if="getMeasureTabs() === MeasureTabs.ERGONOMICS || activePanel === 2">Ergonomics</span>
                </td>
                <td class="measure-tab-title"
                    ng-click="setMeasureTabs(MeasureTabs.SUMMARY)"
                    ng-mouseover="activePanel = 3"
                    ng-mouseleave="activePanel = -1"
                    ng-class="{ 'active' : getMeasureTabs() === MeasureTabs.SUMMARY }">
                  <img ng-hide="getMeasureTabs() === MeasureTabs.SUMMARY || activePanel === 3" width="30" ng-src="images/abacus_page/measure/icon/ergonomics.png">
                  <img ng-show="getMeasureTabs() === MeasureTabs.SUMMARY || activePanel === 3" width="30" ng-src="images/abacus_page/measure/icon/ergonomics_on.png">
                  <span class="medium" ng-if="getMeasureTabs() === MeasureTabs.SUMMARY || activePanel === 3">Summary</span>
                </td>
              </tr>
            </table>
            <div class="measure-body">

              <div class="measure-content">
                <h4 class="measure-content-title"
                    data-ng-if="getCurPageType() === pageType.MEASURE && getMeasureTabs() === MeasureTabs.TUTORIAL">
                  <span data-ng-bind="getCurMeasureData().name"></span> Tutorial </h4>
                <iframe
                  data-ng-if="getCurPageType() === pageType.MEASURE && getMeasureTabs() === MeasureTabs.TUTORIAL"
                  data-ng-src="{{getCurMeasureData().videoURL}}"
                  frameborder="0"
                  autoplay=0
                  allowfullscreen>
                </iframe>
                <img
                  data-ng-if="getCurPageType() === pageType.MEASURE && getMeasureTabs() === MeasureTabs.ERGONOMICS"
                  data-ng-src="{{getCurMeasureData().gifURL}}">

                <h4 data-ng-if="getCurPageType() === pageType.MEASURE && getMeasureTabs() === MeasureTabs.SUMMARY"
                    data-ng-bind-html="getCurMeasureData().desc"></h4>

                <div data-ng-if="getCurPageType() === pageType.MEASURE && getMeasureTabs() === MeasureTabs.SUMMARY"
                     data-ng-bind-html="getCurMeasureData().details">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- SIDEBAR -->
      <div class="sideBarWrapper">

        <!-- CUSTOMIZE: Sidebar -->

        <div class="sideBar" data-ng-if="getCurPageType() == pageType.CUSTOMIZE">
          <div class="sideBar-header text-center">
            <img class="leftButtonNav" data-ng-src="images/icons/{{left_button}}"
                 data-ng-mouseenter="left_button='circle_left_button_hover.svg'" alt="Previous" width="30" height="30"
                 data-ng-mouseleave="left_button='circle_left_button.svg'"
                 data-ng-click="pageSwitchStep(-1)"
                 data-ng-show="getCurPage().index > 0"/>
            <img class="rightButtonNav" data-ng-src="images/icons/{{right_button}}" alt="Next" width="30" height="30"
                 data-ng-mouseenter="right_button='circle_right_button_hover.svg'"
                 data-ng-mouseleave="right_button='circle_right_button.svg'"
                 data-ng-click="pageSwitchStep(1)"/>

            <h3 class="curPage-header" data-ng-bind="getCurPartData().name"></h3>
          </div>
          <div class="sideBar-custom">

            <!-- Options List -->
            <table>
              <!-- Option Display block   isPanelSelectedTd(option.optionID);-->

              <tr class="sideBar-custom-item"
                  data-ng-repeat="option in getCurPartData().options"
                  data-ng-style="(isSidebarColored(option.optionID)) && {'border-left': 'solid 5px ' + getSidebarColor(option.optionID) }"
                >
                <td class="sideBar-custom-item-left">
                  <img class="colorOptionsIndicator" ng-show="option.colors"
                       src="images/icons/color_option.png" alt="See color options"/>
                  <img data-ng-src="{{option.thumbnailURL}}" height="100" width="100"
                       ng-class="{'colorCursor': option.colors.length > 0}"
                       data-ng-click="setPanel(option.optionID);"/>
                </td>
                <td class="sideBar-custom-item-right">
                  <h4 class="sideBar-custom-item-name" title="{{titleForEllipsis(option.name, 45)}}"
                      data-ng-bind="ellipsisFormat(option.name, 45)"></h4>
                  <h4 class="sideBar-custom-item-details">
                    <strong>$<span data-ng-bind="option.price.toFixed(2)"></span> | <span
                      data-ng-bind="(option.weight * getCurUnitSysWeightFactor()).toFixed(2)"></span>
                      <span data-ng-bind="getCurUnitSysWeightName()"></span></strong>
                  </h4>

                  <div class="sideBar-custom-item-buttonRow">
                    <div class="sideBar-custom-item-button text-center"
                         ng-class="{'detailsSelected': isPanelSelected(option.optionID)}"
                         data-ng-click="setPanel(option.optionID);">Details
                    </div>
                    <div class="sideBar-custom-item-button text-center selected"
                         ng-if="getCurWheelchairPart().optionID === option.optionID">Selected
                    </div>
                    <div class="sideBar-custom-item-button text-center"
                         ng-if="getCurWheelchairPart().optionID !== option.optionID"
                         ng-click="setCurOption(option.optionID);">Add
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>

        <div class="panel" data-ng-class="{'hidden': isPanelSelected(-1)}" data-ng-if="!isPanelSelected(-1)">
          <div class="panel-block">

            <div id="imgBlock" ng-class="{'noColor': curOption.colors.length === 0}" >
              <img data-ng-src="{{curOption.thumbnailURL}}" height="220"/>
              <section data-ng-if="curOption.colors.length>0">
                <p>Color</p>
                <div>
                  <div data-ng-repeat="color in curOption.colors" class="colorPanelItem"
                     data-ng-class="{'active': (color.colorID === getCurWheelchairPart().colorID) && (getCurWheelchairPart().optionID === getCurPanelID())}"
                     data-ng-style="{'background-color': color.hex, 'max-height':90}"
                     data-ng-click="setCurOption(curOption.optionID); setCurOptionColor(color.colorID);"
                     title="{{color.name}}">
                  </div>
                </div>
              </section>
            </div>
            <div id="middlePanel">
              <h4 class="medium" data-ng-bind="curOption.name"></h4>

              <div class="button" data-ng-click="setCurOption(curOption.optionID)"
                   data-ng-if="getCurWheelchairPart().optionID !== curOption.optionID">Select
              </div>
              <div class="active-button button" data-ng-if="getCurWheelchairPart().optionID === curOption.optionID">
                Selected
              </div>
            </div>
          </div>
          <div class="panel-block" id="lowerPanel">
            <div>
              <h5>Details</h5>
              <h5 class="pAndW">
                $<span data-ng-bind="curOption.getPrice()"></span> |  <span data-ng-bind="curOption.getWeight()"></span> lbs
              </h5>
            </div>
            <div data-ng-bind-html="curOption.getDesc()"></div>
          </div>
          <div class="panel-block" data-ng-if="curOption.sizes.length>0">
            <h5>Size</h5>

            <div data-ng-repeat="size in curOption.sizes"
                 data-ng-bind="size"
                 class="size-button medium"
                 data-ng-click="setCurOption(curOption.optionID); setCurOptionSize($index);"
                 data-ng-class="{'active': ($index === getCurWheelchairPart().sizeIndex) && (getCurWheelchairPart().optionID === getCurPanelID())}">
            </div>
          </div>
        </div>
        <!-- MEASURE: Sidebar-->

        <div class="sideBar" data-ng-if="getCurPageType() == pageType.MEASURE">
          <div class="sideBar-header text-center">
            <img class="leftButtonNav" data-ng-src="images/icons/{{left_button}}"
                 data-ng-mouseenter="left_button='circle_left_button_hover.svg'" alt="Previous" width="30" height="30"
                 data-ng-mouseleave="left_button='circle_left_button.svg'"
                 data-ng-click="pageSwitchStep(-1)"/>
            <img class="rightButtonNav" data-ng-src="images/icons/{{right_button}}" alt="Next" width="30" height="30"
                 data-ng-mouseenter="right_button='circle_right_button_hover.svg'"
                 data-ng-mouseleave="right_button='circle_right_button.svg'"
                 data-ng-click="pageSwitchStep(1)"
                 data-ng-show="getCurPage().index < getCurPages().length - 1"/>

            <h3 class="curPage-header" data-ng-bind="getCurMeasureData().name"></h3>
          </div>
          <div class="sideBar-measure">
            <!-- Measurement Selector -->
            <div class="sideBar-measure-top">
              <div class="sideBar-measure-select">
                <h4 id="sideBar-measure-select-header">Choose your Measurement</h4>
                <select data-ng-model="getCurWheelchairMeasure().measureOptionIndex"
                        data-ng-options="idx as mo for (idx, mo) in getCurMeasureData().measureOptions[curUnitSys]"/>
                <span data-ng-bind="getCurMeasureData().units[curUnitSys]"></span>
              </div>
              <div class="sideBar-measure-tip text-left" data-ng-show="getCurMeasureData().tip">
                <div class="sideBar-measure-tip-left">
                  <h5 class="heavy tip-lower">TIP:</h5>
                </div>
                <div class="sideBar-measure-tip-right book">
                  <h5 class="book thin" data-ng-bind="getCurMeasureData().tip"></h5>
                </div>
              </div>
            </div>
            <!-- Measure Image Carousel -->
            <div class="sideBar-measure-bottom">
              <img class="help-image" ng-repeat="image in getCurMeasureData().imageURLs"
                   ng-show="curMeasureCarouselIndex === $index"
                   ng-src="{{image}}" width="350" height="340">

              <img class="leftButton" src="images/icons/circle_left_button.svg" alt="Previous" width="30" height="30"
                   data-ng-click="rotateMeasureCarouselIndex(-1)"/>
              <img class="rightButton" src="images/icons/circle_right_button.svg" alt="Next" width="30" height="30"
                   data-ng-click="rotateMeasureCarouselIndex(1)"/>


              <div class="help-image-progressbar">
                <i ng-repeat="image in getCurMeasureData().imageURLs"
                   ng-class="{ 'fa fa-circle-o' : curMeasureCarouselIndex !== $index, 'fa fa-circle' : curMeasureCarouselIndex === $index }"
                   ng-click="jumpMeasureCarouselIndex($index)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>



<script>
console.log("properly init");
var canvas, stage, exportRoot;
/*
document.body.onload=function(){
  initNavBar();
}*/
//TODO: This need to execute on load rather on timeout
//setTimeout(initNavBar,700);
/*
$(window).load(function(e) {
    initNavBar();
});
 */

function initNavBar() {
  console.log("continuing init");
  canvas = document.getElementById("NavigationBar");
  exportRoot = new lib.navBar();
  stage = new createjs.Stage(canvas);
  stage.addChild(exportRoot);
  stage.update();

  createjs.Ticker.setFPS(lib.properties.fps);
  createjs.Ticker.addEventListener("tick", stage);
}

function printMousePos(e) {
    var cursorY = e.clientY;
    if (cursorY > 280) {
      var dropdown = document.getElementsByClassName("dropdownTable");
      if (dropdown.length > 0) {
        $("#SaveButton").trigger("click");
      }
    }
}
document.addEventListener("click", printMousePos);

</script>
