<link href="styles/Abacus.css" rel="stylesheet" />

<div id="offClickArea" ng-click="deselectOption()"></div>

<!-- Progress Bar and Save Button-->
<div id="ProgressSaveBar">
  <div class="progress">
    <div id="ProgressSec">
      <span ng-repeat="item in pages"><img id="pSec" ng-click="secSwitchClick(item)" data-ng-src="{{getProgBarImage(item)}}" ></span>
    </div>
  </div>
  <button type="button" id="SaveButton" class="btn btn-primary">Save & Review</button>
</div>

<!-- Price & Weight Display -->
<div id="display">
    <h3>
      <small>Price:</small> ${{getTotalPrice().toFixed(2)}}&nbsp;&nbsp;&nbsp;<small>Weight:</small> {{getTotalWeight()}}lbs
    </h3>
</div>

<!-- Main Body of Page -->
<div class="row" ng-click="">

  <!-- Wheelchair Display and controls -->
  <div class="mainpic col-lg-8 col-md-8 "  >
    <img src="images/mainpic.png" width="795" height="607" >
  </div>

  <!-- Sidebar -->
  <div class="sideBarWrapper">
      <!-- Tabs -->
      <ul  class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a ng-href="#/abacus">Customize</a></li>
        <li role="presentation" ><a ng-href="#/abacus">Measure</a></li>
      </ul>

      <!--<div class="well"></div>-->
      <div class="sideBar">
          <div class="text-center" id="SidebarHeader">
              <h3>
                  <img class="leftButton" src="images/icons/left_button.png" alt="Previous" width="30" height="30" data-ng-click="secSwitchLeft()" data-ng-show="curPage.index > 0"/>
                  {{getCurPart().name}}
                  <img class="rightButton" src="images/icons/right_button.png" alt="Next" width="30" height="30" data-ng-click="secSwitchRight()" data-ng-show="curPage.index < pages.length - 1"/>
              </h3>
          </div>
          <div class="sideBarTable">
              <table class="table">
                <tr class="sideBarItem" data-ng-repeat="option in getCurPart().options">
                    <td class="sideBarItemLeft">
                        <div class="colorPanelArrow" ng-class="{ 'colorPanelArrowOut': ! isOptionSelected(option, selectedOptionTypes.COLOR) , 'colorPanelArrowIn': isOptionSelected(option, selectedOptionTypes.COLOR)}"></div>
                        <img class="colorOptionsIndicator" ng-show="option.colors" src="images/icons/color_option.png" alt="See color options" ng-click="selectOption(option, selectedOptionTypes.COLOR);" />
                        <img data-ng-src="{{option.image}}" height="100">
                    </td>
                    <td class="sideBarItemRight">
                        <h4> {{option.name}}</h4>
                        <h4><strong>${{option.price}} | {{option.weight}}lbs</strong></h4>
                        <div>
                            <div class="sideBarItem-Button text-center" ng-click="selectOption(option, selectedOptionTypes.DETAIL);">Details</div>
                            <div class="sideBarItem-Button text-center">Add</div>
                        </div>
                    </td>
                    <td class="colorPanel" ng-class="{ 'colorPanelOut': ! isOptionSelected(option, selectedOptionTypes.COLOR) , 'colorPanelIn': isOptionSelected(option, selectedOptionTypes.COLOR)}">
                      <div data-ng-repeat="color in option.colors" class="colorPanelItem" data-ng-style="{'background-color': color.hex, 'height': (300 / option.colors.length), 'max-height':90}"></div>
                    </td>
                    <td class="detailPanel" ng-class="{ 'detailPanelOut': ! isOptionSelected(option, selectedOptionTypes.DETAIL) , 'detailPanelIn': isOptionSelected(option, selectedOptionTypes.DETAIL)}">
                        <div class="text-center">
                            <img data-ng-src="{{option.image}}" height="200" width="200" />
                            <h4><strong>{{option.name}}</strong></h4>
                            <h4>${{option.price}} | {{option.weight}}lbs</h4>
                            <div class="sideBarItem-Button text-center" data-ng-click="">Add</div>
                            <p>{{option.desc}}</p>
                        </div>
                    </td>
                </tr>
              </table>
           </div>
        </div>
    </div>
</div>


