<link href="styles/about.css" rel="stylesheet" />

<div id="wrapper">&nbsp  
  <!-- Google Tag Manager -->
  <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5BJDWF"
                    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5BJDWF');</script>
  <!-- End Google Tag Manager -->
  <div id="background"></div>
  <div id="main">
    <div id="tabMenu">
      <section ng-init="page = 1">
        <p ng-click="page = 1" data-ng-class="{'highlight':page === 1}">The Tinker System</p>
        <p ng-click="page = 2" data-ng-class="{'highlight':page === 2}">Step 1: Customize</p>
        <p ng-click="page = 3" data-ng-class="{'highlight':page === 3}">Step 2: Measure</p>
        <p ng-click="page = 4" data-ng-class="{'highlight':page === 4}">Step 3: Order</p>
        <p ng-click="page = 5" data-ng-class="{'highlight':page === 5}">Step 4: Relax while we build your Chair</p>  
        <div id="siteCredit">
            <a href="http://www.intelliwheels.net/tinker" target="_blank"><img ng-src="images/Powered-by-Tinker-Logo-Black.png" alt="Powered by Tinker">
            <p>TM, &copy; IntelliWheels, Inc. 2016</p>  
          </a>      
        </div>
      </section>

    </div>
    <div id="mainContent">
      <section ng-show="page === 1"  >
        <img data-ng-src="images/about_page/per4max-black.svg" alt="Per4max">
        <h1>The Tinker System</h1>
        <p>Tinker is a revolutionary system that allows you to customize your Per4max wheelchair in a fun and playful way.  You can change the colors, learn about your measurements, and order your new wheelchair all in one place.</p>
        <p>When you order a wheelchair through this website, you're ordering it directly from Per4max.  There is no middle man.  Tinker was developed by the eggheads over at <a ng-href="http://www.intelliwheels.net/" target="_blank">IntelliWheels</a>, but they make certain not to get in the way of the ordering process.</p>
        <p>Click Step 1 to learn about the designing process.</p>
        <button ng-click="jumpFrame()"class="medium button" id="firstButton">Start Designing!</button>
        or
        <button ng-click="page = 2" class="medium button" id="firstButton">Step 1: Customize--></button>
        <img src="images/about_page/Rotate.gif" alt="Per4max">    
      </section>
      <section ng-show="page === 2">
        <h1>Step 1: Customize</h1>
        <p>When designing a new wheelchair, we like to do the fun parts first.  The first step is to choose is the color of the frame.  Per4max offers 20 different powder coat colors for your frame including glossy, matte, and sparkle colors.</p>
        <p>Once you've selected the frame color, hit the next button to get to the next option.  Every choice you make updates the live preview in the center of the screen so that you can see what your new wheelchair is going to look like.</p>  
        <div id="customize-pic"></div>
        <img src='images/about_page/customize1.jpg' onmouseover="this.src='images/about_page/customize2.jpg';" onmouseout="this.src='images/about_page/customize1.jpg';" />  
        <p>With Tinker, you can design your wheelchair from start to finish in a visual and fun way. Tinker is about choice and giving you the power to build that perfect chair.</p>
        <button ng-click="page = 1"class="medium button" id="firstButton">Back</button>
        or
        <button ng-click="page = 3" class="medium button" id="firstButton">Step 2: Measurements--></button>  
      </section>
      <section ng-show="page === 3">
        <h1>Step 2: Measure</h1>
        <p>Getting your measurements right is the difference between having an OK wheelchair, and a GREAT wheelchair.  That's why the Tinker system gives you videos that explain how to measure yourself for your new chair.</p>
        <p>As you progress through the measurements section, you can track your progress with the blue progress bar at the top.  At any time, you can save your design with the "Save and Review" button at the bottom right of the screen and come back to it later.</p>
        <img src="images/about_page/measure.jpg" alt="Measurement Image">  
        <button ng-click="page = 2"class="medium button" id="firstButton">Back</button>
        or
        <button ng-click="page = 4" class="medium button" id="firstButton">Step 3: Order--></button>    
      </section>
      <section ng-show="page === 4">
        <h1>Step 3: Order</h1>  
        <p>Once you have the perfect design on the screen, you're ready to order!</p>
        <p>The Tinker system can accept orders from anyone, Users, Dealers, or even VA's.  Just follow through the prompts on the order page. </p>
        <h2>Need help?</h2>  
        <p>If you need help designing your perfect wheelchair, just contact us.  You can email us <a href="http://per4max.com/contact/" target="_blank">here</a>, or call us at 866-648-6891.</p>  
        <button ng-click="page = 3"class="medium button" id="firstButton">Back</button>
        or
        <button ng-click="page = 5" class="medium button" id="firstButton">Step 4: Relax--></button>    
      </section>
      <section ng-show="page === 5">
        <h1>Step 4: Take a Break! We've got it from here.</h1>
        <p>Every chair we build at Per4max is custom.  We specialize in awesome, and we know how to build the baddest chairs on the block.</p>
        <p>A customer service rep will get in touch with you to give you an estimate of how long it will take to build your chair, and we might call you to confirm a few things, but for the most part, your job is done!  Now just sit back, and get excited, because your new chair is on the way.</p>
        <button ng-click="page = 4"class="medium button" id="firstButton">Back</button>
        or
        <button ng-click="jumpFrame()" class="medium button" id="firstButton">Start Designing!</button>
      </section>
    </div>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64294275-1', 'auto');
  ga('send', 'pageview');

</script>

