<link href="styles/about.css" rel="stylesheet" />

<div class="aboutUsDiv">
  <div>
    <h1><u>Meet the Intelliwheels Team</u></h1>
  </div>
  <marquee direction="down" width="1300" height="500" behavior="alternate" 
           style="position:absolute; top:95px;"
           data-ng-repeat="e in employees"
           scrollamount="{{$index + 5}}">
    <marquee behavior="alternate" scrollamount="{{(employees.length - $index) + 5}}">
      <h2 style="margin-bottom: 2px;">{{e.name}}</h2>
      <h5 style="margin-top: 0px;">{{e.extra}}</h5>
    </marquee>
  </marquee>
</div>

