<link href="../styles/admin.css" rel="stylesheet"/>

<div class="appBody">

  <div class="adminHeader">
    <div class="adminHeaderTitle medium">Admin <i class="fa fa-unlock-alt"></i></div>
  </div>

  <!-- SIDEBAR -->
  <div class="adminSidebar">
    <ul class="adminSidebarOptions">

      <li class="adminSidebarOption book" id="adminSidebarOrdersOption"
          ng-click="admin.setContentSection(admin.contentSection.users)"
          ng-class="{ 'active' : admin.getContentSection() === admin.contentSection.users} ">
        Users
      </li>
      <li class="adminSidebarOptionDivider"></li>

      <li class="adminSidebarOption book" id="adminSidebarAccountOption"
          ng-click="admin.setContentSection(admin.contentSection.orders)"
          ng-class="{ 'active' : admin.getContentSection() === admin.contentSection.orders}">
        Orders
      </li>
      <li class="adminSidebarOptionDivider"></li>

      <li class="adminSidebarOption book" id="adminSidebarMyDesignsOption"
          ng-click="admin.setContentSection(admin.contentSection.discounts)"
          ng-class="{ 'active' : admin.getContentSection() === admin.contentSection.discounts}">
        Discounts
      </li>
      <li class="adminSidebarOptionDivider"></li>

    </ul>
    <div class="adminSidebarButtons"
         ng-class="{'showadminSidebarButtons' : admin.getContentSection() === admin.contentSection.discounts, 'hideadminSidebarButtons' : admin.getContentSection() !== admin.contentSection.discounts}">
      <div class="input-group adminSearchBox">
        <p>Search Discount Codes:</p>
        <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="search.doc._id" placeholder="example: discountCode20">
      </div>

      <button class="adminSidebarButton medium"
        id="adminSidebarSaveButton"
        data-ng-click="admin.toDiscounts()"> Create a new discount</button>
    </div>

    <div class="input-group adminSearchBox" ng-if="admin.getContentSection() === admin.contentSection.users">
      <p>Search Users:</p>
      <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="admin.searchUser.id" placeholder="example@website.com">
    </div>

    <div class="input-group adminSearchBox" ng-if="admin.getContentSection() === admin.contentSection.orders">
      <p>Search Orders</p>
      <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="admin.searchOrder" placeholder="order# or example@website.com">
    </div>

  </div>

  <div class="adminContentWrapper">
    <!-- ORDERS-->
    <div class="adminContent" id="adminOrdersContent" ng-class="{'showadminContent' : admin.getContentSection() === admin.contentSection.orders}">
      <div ng-if="admin.ordersArray.length">
        <table class="table">
            <thead>
              <tr>
                <th>Order #</th>
                <th>Order Date</th>
                <th>User Email</th>
                <th>Payment Status</th>
                <th>Order Status</th>
                <th>Invoice</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="order in admin.filteredOrders | filter:admin.searchOrder" class="user-profile-link order-link" ng-click="admin.viewOrder(order)" >
                <td>{{order.doc.orderNum}}</td>
                <td >{{order.doc.date}}</td>
                <td >{{order.doc.userID}}</td>
                <td >{{order.doc.paymentStatus}}</td>
                <td >{{order.doc.orderStatus.substring(0,20)}}...</td>
                <td ng-click="admin.viewInvoice($event)"><a  ng-href="orders/{{order.doc._id}}/invoice">View invoice</a></td>
              </tr>
            </tbody>
          </table>
        <ul ng-show="admin.totalOrderItems >= 25" uib-pagination class="custom-pagination"
          ng-model="admin.currentPage"
          total-items="admin.totalOrderItems" items-per-page="25" max-size="15">
        </ul>
      </div>
    </div>
    <!-- DISCOUNTS -->
    <div class="adminContent" id="adminDiscountsContent" ng-class="{'showadminContent' : admin.getContentSection() === admin.contentSection.discounts}">
    	<ul class="discounts-list">
        <li ng-repeat="discount in admin.discountsArray | filter:search">
          <div class="discount-info">
            <div class="discount-percent">
              <p ng-bind="admin.getPercents(discount.doc.percent)"></p>
            </div>
            <div class="discount-info-lines">
              <p><b>Discount Code: </b>{{discount.doc._id}}</p>
              <p><b>Start date: </b>{{discount.doc.startDate | date:'medium'}}</p>
              <p><b>End date: </b>{{discount.doc.endDate | date:'medium'}}</p>
              <p><b>Allow Multiple Discounts: </b>{{discount.doc.isMultiDiscount}}</p>
              <p><b>Created by: </b>{{discount.doc.createdBy}}</p>
            </div>
            <div class="discount-options">
              <button type="button" ng-click="admin.editDiscount(discount)" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              </button>
              <button type="button" ng-click="admin.deleteDiscount(discount)" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon glyphicon-trash" aria-hidden="true"></span>
              </button>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- USERS -->
    <div class="adminContent" id="adminUsersContent" ng-class="{'showadminContent' : admin.getContentSection() === admin.contentSection.users}">
      <div ng-if="admin.profile.open" class="profile-section">
        <div class="profile-info">
          <p class="admin-users-id"><b>{{admin.profile.id}}</b></p>
          <hr>
          <p><b>Email: </b>{{admin.profile.email}}</p>
          <p><b>First name: </b>{{admin.profile.fName}}</p>
          <p><b>Last name: </b>{{admin.profile.lName}}</p>
          <p><b>City: </b>{{admin.profile.city}}</p>
          <p><b>Phone: </b>{{admin.profile.phone}}</p>
          <p><b>Number of orders: </b>{{admin.profile.ordersNum}}</p>
          <div class="dropdown user-type-button">
            <p><b>User type: </b> <span ng-if="admin.userType !== 'superAdmin'"> {{admin.getUserType()}}</span></p>
            <button ng-if="admin.userType === 'superAdmin'" class="btn dropdown-toggle " type="button" data-toggle="dropdown">{{admin.getUserType()}}
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li ng-click="admin.profile.userType = 'admin'"  class="dropdown-item"><a href="">Admin</a></li>
              <li ng-click="admin.profile.userType = 'superAdmin'" class="dropdown-item"><a href="">Super admin</a></li>
              <li ng-click="admin.profile.userType = 'basic'" class="dropdown-item"><a href="">Basic</a></li>
            </ul>
          </div>
          <div class="dropdown user-type-button">

            <button ng-disabled="admin.resetSuccessMsg" class="btn dropdown-toggle" ng-click="admin.resetPassword(admin.profile.email)" type="button" data-toggle="dropdown">Reset Password</button>
            <p class="errorMsg"><b>{{admin.resetErrorMsg}}</b></p>
            <p class="successMsg"><b>{{admin.resetSuccessMsg}}</b></p>
          </div>
        </div>
        <hr>
        <button class="btn btn-danger" ng-click="admin.closeProfile()">Back</button>
        <button class="btn btn-success" ng-disabled="admin.userTypeSuccessMsg" ng-if="admin.showSaveProfile" ng-click="admin.setUserType()">Save</button>
        <p class="errorMsg"><b>{{admin.userTypeErrorMsg}}</b></p>
        <p class="successMsg"><b>{{admin.userTypeSuccessMsg}}</b></p>
      </div>
      <div ng-if="!admin.profile.open && admin.usersArray.length">
        <table class="table">
            <thead>
              <tr>
                <th>Email Address</th>
                <th>User type</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="user in admin.filteredUsers | filter:admin.searchUser" class="user-profile-link" ng-click="admin.openProfile(user)" >
                <td>{{user.id}}</td>
                <td ><span ng-class="user.doc.userType === 'admin' || user.doc.userType === 'superAdmin' ? 'user-admin' : ''"> {{admin.getUserType(user.doc.userType) || 'Basic'}}</span></td>
              </tr>
            </tbody>
          </table>
        <ul ng-show="admin.totalItems >= 25" uib-pagination class="custom-pagination"
          ng-model="admin.currentPage"
          total-items="admin.totalItems" items-per-page="25" max-size="15">
        </ul>
      </div>
    </div>
  </div>

</div>
