<link href="../styles/admin.css" rel="stylesheet"/>
<div class="admin-wrapper">
	<div class="admin-container">
		<h3 class="header-text">Create a New Discount Code</h3>
    <p class="note"><em>Note: Discount codes are not case sensitive.</em></p>
		<hr>
		<p>Discount Code</p>
		<p class="input-group admin-input">
	      <input type="text" class="form-control" placeholder="example: per4max2016" ng-model="discount.id" ng-required="true">
	    </p>
	    <p>Percent</p>
		<p class="input-group admin-input">
	      <input type="text" class="form-control" id="percentBox" placeholder="example: 20" ng-model="discount.percent" ng-required="true">%
	    </p>
	    <p>Start Date</p>
	    <p class="input-group admin-input">
	      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="discount.startDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true"/>
	      <span class="input-group-btn">
	        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
	      </span>
	    </p>

	    <p>End Date</p>
	    <p class="input-group admin-input">
	      <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="discount.endDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true"/>
	      <span class="input-group-btn">
	        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
	      </span>
	    </p>
	    <div class="multi">
	    	<p style="display: inline;">Allow this discount to be combined with other discounts:</p>
	    	<input id="multiCheckox" type="checkbox" ng-model="discount.isMultiDiscount"/>
	    </div>
        <div class="button-box">
            <button type="button" class="btn btn-sm btn-danger admin-button" ng-click="clear()">Cancel</button>
            <button type="button" class="btn btn-sm btn-success admin-button" ng-click="submitDiscount()">Create</button>
        </div>
	    <p class="errMsg" ng-show="errorMsg">{{errorMsg}}</p>
	    <p class="sucMsg" ng-show="successMsg">{{successMsg}}</p>
	</div>
</div>
