<link href="styles/cart.css" rel="stylesheet" />


<div class="cartBackground"></div>

<div class="cartHeading">
    <h1>Shopping Cart</h1>
    <div class="backButton">&lt;&lt; Continue Shopping</div>
</div>

<div class="cartItems">

  <div class="cartItem">

    <div class="cartItemThumb">
      <img src=""/>
    </div>

    <div class="cartItemName">
      Name of this wheelchair
    </div>

    <div class="cartItemPrice">
      $1234.56
    </div>

    <div class="cartItemButtons">
      <div class="cartItemDetailsButton"></div>
      <div class="cartItemEditButton"></div>
      <div class="cartItemRemoveButton"></div>
    </div>

  </div>

</div>

<div class="cartSidebar">

  <div class="cartSidebarHeading">Summary</div>

  <div class="cartSidebarSubtotals">

    <div class="cartSidebarLabel">Subtotal:</div>
    <div class="cartSidebarValue">$1234.56</div>

    <div class="cartSidebarLabel">Estimated Shipping:</div>
    <div class="cartSidebarValue">$----</div>

    <div class="cartSidebarLabel">Tax:</div>
    <div class="cartSidebarValue">$----</div>
  </div>

  <div class="cartSidebarTotal">
    <div class="cartSidebarLabel">Total:</div>
    <div class="cartSidebarValue">$----.--</div>
  </div>

  <div class="cartSidebarButtons">
    <div class="sendButton">Send to Manufacturer</div>
    <div class="saveButton">Save to My Computer</div>
  </div>

</div>
