<link href="styles/checkout.css" rel="stylesheet" />

<div class="checkout text-center">
  <div class="checkout-header">
    <h2><strong>Checkout</strong></h2>
    <h5><< Go Back to Shopping Cart</h5>
  </div>
  <div class="checkout-body">
    <div class="checkout-left text-center">
      <div class="checkout-well">
        <div class="checkout-well-title"><strong>LOG IN</strong></div>
        <div class="checkout-well-label"><strong>Email Address</strong></div>
        <input type="email" data-ng-model="loginForm.email" />
        <div class="checkout-well-label"><strong>Password</strong></div>
        <input type="password" data-ng-model="loginForm.pass" />
        <div>Forgot your Password?</div>
        <div><strong>REGISTER >></strong></div>
      </div>
      <div class="checkout-button">
        <strong>Member Checkout >></strong>
      </div>
    </div>
    <div class="checkout-right text-center">
      <div class="checkout-well">
        <div class="checkout-well-title"><strong>GUESTS</strong></div>
      </div>
      <div class="checkout-button">
        <strong>Guest Checkout >></strong>
      </div>
    </div>
  </div>
</div>