<link href="styles/compare.css" rel="stylesheet"/>
<div class="background">
	<div class="header">
		<h3 class="header-title oBold">COMPARE</h3>
		<button type="submit" ng-click="addWheelchair()" ng-disabled="comparisons.length >= MAX_COMPARISON_CHAIRS"
            class="add-wheelchair-button medium">Add Wheelchair</button>
	</div>

	<div class="chair-canvas-list-holder">
		<h1 class="no-wheelchairs-text" ng-if="comparisons.length === 0">No Designs Selected For Comparison</h1>
		<ul class="chair-canvas-list">
			<li class="chair-canvas-item" ng-repeat="item in comparisons">
				<p style="font-weight: bold;">{{item.design.wheelchair.title}}</p>
				<p style="font-weight: bold;">${{item.design.wheelchair.getTotalPrice().toFixed(2)}}</p>
				<canvas my-canvas img_arr={{item.design.wheelchair.getPreviewImages(3)}}
		                width="190"></canvas>
                <div class="compare-check-box-holder" ng-click="comparisons.splice($index, 1)" ng-mouseenter="item.checked = false" ng-mouseleave="item.checked = true">
                	<p class="comare-button-text">COMPARE  <span class="compare-button-check-text {{item.checked ? 'compare-button-checked-text' : 'compare-button-unchecked-text'}}">{{item.checked ? '✓' : 'X'}}</span></p>
                </div>
			</li>
		</ul>
	</div>
	<br>
	<div class="compare-list-holder">
		<ul class="compare-list">
			<li class="compare-list-item" ng-repeat="partID in getPartIDs()">
				<div class="compare-list-item-header">
					{{getPartNameByID(partID)}}
				</div>
				<ul class="option-comparison-list">
					<li class="option-comparison-list-item" ng-repeat="item in comparisons" style="{{!$last ? 'border-right: solid #808184;' : ''}}">
						<p class="option-comparison-list-item-text">{{getChairPartOption(item.design.wheelchair, partID)}}</p>
						<div ng-if="getColorForChairPart(item.design.wheelchair, partID)" class="option-comparison-list-item-color-box" style="background-color: {{getColorForChairPart(item.design.wheelchair, partID)}};"></div>
					</li>
				</ul>
			</li>
		</ul>
		<!-- <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
		<div id="demo" class="collapse">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit,
			sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
		</div> -->
	</div>
</div>
