<link href="../styles/frame.css" rel="stylesheet" />


<div class="wrapper">
  <div class=" frame-header-row">
    <div class="frame-header">
      FRAMES
    </div>
  </div>

  <div class="mainDisplay" data-ng-init="hoverItem = -1">

    <div class="frame-item text-center"
         data-ng-repeat="f in frames"
         data-ng-class="{'right-border': ($even && ($index !== frames.length-1)), 'bottom-border': ($index < frames.length-2)}">
      <div class="frame-item-image">
        <div class="img" data-ng-mouseenter="hoverItem = f.getFrameID()"
             data-ng-mouseleave="hoverItem = -1">

          <img data-ng-src="{{f.getImageURL()}}" />
          <!--<div class="frame-item-desc"
               data-ng-class="{ 'frame-item-desc-show' : panelSelected(hoverItem,f.getFrameID()) , 'frame-item-desc-hide' : !panelSelected(hoverItem,f.getFrameID())}">
             -->

             <div class="frame-item-desc ng-animate frame-item-desc-show" >


            <div class="hoverBackground frame-item-panel">
           

              




              <p class="frame-item-title">{{f.getName()}}</p>
              <br />
              <p class="frame-item-description">{{f.getDesc()}}</p>
              <p class="frame-item-price">${{f.getBasePrice().toFixed(2)}}</p>
              <p class="frame-item-weight">{{getWeightString(f)}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-item-button"
           data-ng-click="selectFrame(f.frameID)">
       Select this frame >>
      </div>
    </div>

  </div>
</div>
