<!--<script src='scripts/canvas/Particles/JareUtils.js'></script>-->
<!--<script src='scripts/canvas/Particles/FPSMeter.js'></script>-->
<!--<script src='scripts/canvas/Particles/GameLoopManager.js'></script>-->
<!--<script src='scripts/canvas/Particles/Particles.js'></script>-->

<link href="styles/landing.css" rel="stylesheet" />
<div id="wrapper">

<!--<canvas id='canvy' width='550' height='400'></canvas>-->
  <img id="mainLogo" data-ng-src="images/landing_page/tinker_logo2.png" width="700">
  <div class="medium" id="text2"><h1>DESIGN <span class="book">FOR</span> YOUR LIFE</h1></div>
  <section class="medium text3">
    Customize the look, style, and measurements of your ultralight wheelchair.<br>
  </section>
  <button ng-click="toFramePage()" class="medium button" id="startButton">Start a New Design</button>
  <button ng-click="toAboutPage()" class="medium button">Help Bring Tinker to the US</button>
  
  <section class="medium text4">
    Designed by
    <a href="http://www.intelliwheels.net" target="_blank"> <img data-ng-src="images/landing_page/iw_logo_blue.png"></a>
    featuring
    <a href="http://www.tiarrow.com/" target="_blank"> <img data-ng-src="images/landing_page/tiarrow_logo.png"></a>
  </section>


  <!--<div id="fpscontainer"></div>-->
</div>
