<link href="styles/settings.css" rel="stylesheet" />

<!-- Background -->
<div class="settingsBackground"></div>

<div class="appBody">

  <div class="settingsHeader">
    <div class="settingsHeaderTitle">SETTINGS <i class="fa fa-cog"></i></div>
  </div>

  <!--- SIDEBAR --->
  <div class="settingsSidebar">
    <ul class="settingsSidebarOptions">
      <li class="settingsSidebarOption" id="settingsSidebarAccountOption"><i class="fa fa-user"></i> My Account</li>
      <li class="settingsSidebarOption" id="settingsSidebarOrdersOption"><i class="fa fa-list"></i> My Orders</li>
      <li class="settingsSidebarOption" id="settingsSidebarMeasurementsOption"><i class="fa fa-wrench"></i> My Measurements</li>
    </ul>
    <ul class="settingsSidebarButtons">
      <li class="settingsSidebarButton" id="settingsSidebarEditButton">EDIT &gt;&gt;</li>
      <li class="settingsSidebarButton" id="settingsSidebarSaveButton">SAVE &gt;&gt;</li>
    </ul>
  </div>

  <!--- CONTENT --->
  <div class="settingsContent" id="settingsAccountContent">

    <div class="settingsContent-contactInformation">
      <form action="" id="settingsContentForm-contactInformation">
        <div class="settingsContentSectionTitle">Contact Information</div>

      </form>
    </div>

  </div>

</div>
